{% extends "layout.html" %}

{% block page_title %}
  MOT testing service
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          You have signed in without your security card
        </h1>
      </div>
        <form action="order-card-start" method="post" class="form">
          <h2 class="heading-medium">What happens next</h2>
                <p class="lede">You need a security card to access the full MOT testing service and to make your account more secure.</p>
                <p>You will now be redirected to the order card page, where you will be able to order a new card to your address.</p>

                <p>Once you have completed this process you will need to log in using the temporary log in.</p>

                <p>You must activate your card as soon as you have it.</p>

            <input class="button" type="submit" value="Order a security card">
        </form>
    </div>
  </div>

</main>

{% endblock %}