{% extends "layout.html" %}

{% block bar_heading %}
  MOT testing service
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div id="phase_banner_beta">  
            {% include "includes/phase_banner_beta.html" %}
    </div>
    
  
    <div class="grid-row">
        <div class="column-two-thirds">

        <h1 class="heading-xlarge">
            <span class="heading-secondary">Sign in</span>
          Sign in without your security card
        </h1>
            
        <p class="lede">If your security card is lost or damaged then you can sign in temporarily by answering your security questions.</p>
            <p>Once you have signed in you will be directed to order a replacement security card.</p>
        
     
       
         
        <div style="margin-top: 30px;"><p><a class="button" href="lost-answer-questions">Continue</a></p></div>
            
         <a href="enter-pin">Cancel and return to sign in with your security card PIN</a>

    </div>
  </div>
</main>

{% endblock %}