{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}
	<nav id="proposition-menu">
	  <a href="/" id="proposition-name">Bob Thomas Arctor (Tester)</a>
	  <ul id="proposition-links">
	    <li><a href="#">Home</a></li>
	    <li><a href="#">Your profile</a></li>
	    <li><a href="../lost/sign-in">Sign out</a></li>
	  </ul>
	</nav>
{% endblock %}

{% block content %}

<style type="text/css">
.inline-element {
    clear: right;
    padding-right: 45px;
}
.inline-element:last-child {
    padding-right: initial;
}
.key-value-list__header {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.1111111111;
	font-weight: 700;
	text-transform: none;
	margin-top: 1.04167em
}

@media (max-width: 640px) {
.key-value-list__header {
	font-size: 24px;
	line-height: 1.0416666667;
}
}

@media (min-width: 641px) {
.key-value-list__header {
	margin-top: 1.25em;
}
}
.key-value-list {
	margin-top: 30px
}
.key-value-list__key, .key-value-list__value, .key-value-list__value--numeric, .key-value-list__value--muted {
	width: 50%
}
.key-value-list__value {
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.3157894737;
	font-weight: 700;
	text-transform: none;
	padding-left: 15px
}

@media (max-width: 640px) {
.key-value-list__value {
	font-size: 16px;
	line-height: 1.25;
}
}
.key-value-list__item-action {
	padding-left: 15px
}
.key-value-list__value--numeric {
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.3157894737;
	font-weight: 700;
	text-transform: none;
	padding-left: 15px;
	letter-spacing: 0.03em
}

@media (max-width: 640px) {
.key-value-list__value--numeric {
	font-size: 16px;
	line-height: 1.25;
}
}
.key-value-list__value--muted {
	color: #6f777b;
	padding-left: 15px
}
.key-value-list__meta {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	color: #6f777b;
	display: block
}

@media (max-width: 640px) {
.key-value-list__meta {
	font-size: 14px;
	line-height: 1.1428571429;
}
}
.result-table__meta {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	color: #6f777b;
	display: block
}
.table-caption {
	text-align: left;
}
.content-navigation {
    margin-top: 30px;
}
.object-svg {
	display: block;
	margin-bottom: 30px;
}
.data-wrapper {
	margin-top: 30px;
	margin-bottom: 15px;
}
.data-item.bold-large {
	padding-bottom: 8px;
}
.line-break {
	display: block;
}
.text-center {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 90px;
	padding-top: 30px;
	padding-bottom: 60px;
}
.download-block {
	margin-bottom: 60px;
}
.column-one-quarter.column-one-fifth {
	width: 20%;
}
</style>


<main id="content" role="main">

    <div id="phase_banner_beta">  
            {% include "includes/phase_banner_beta.html" %}
    </div>
    
    <div class="breadcrumbs">
	  <ol>
	    <li><a href="/">Home</a></li>
          <li><a href="#">Your profile</a></li>
        <li>Order a security card</li>
	  </ol>
	</div>
  
    <div class="grid-row">
        <div class="column-two-thirds">
            
      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Your security card has been ordered
        </h1>
        <p class="font-large">Activate your card as soon as it arrives</p>  
      </div>
        <form action="order-card-start" method="post" class="form">
          <h2 class="heading-medium">What happens next</h2>
                <p class="lede">Your card should arrive within 5 working days. You will not need to sign for the delivery. </p>
                <p>You can continue to sign in until your card arrives using the temporary sign in link and by entering the following:</p>
                    
                    <ul class="list-bullet">
                        <li>Your user ID</li>
                        <li>Your password</li>
                        <li>Your security questions</li>
                    </ul>
                    <br>

                <p>You must activate your card as soon as it arrives. You can do this from your profile.</p>

                <p>If the card hasn't arrived in 5 working days then contact the helpdesk.</p>

            <a class="button" href="#" >Continue to home</a>
        </form>
            </div>    
            
  </div>
</main>

{% endblock %}