{% extends "layout.html" %}

{% block page_title %}
  MOT Reminder - what is registration number
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div id="phase_banner_beta">  
      {% include "includes/phase_banner_beta.html" %}
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                What is the vehicle’s registration number? 
            </h1>

          <form action="registration-number-error" method="get" class="form">
            
              <div class="form-group">
                  <label for="registration-number">Registration (number plate)</label></br>
                  <input type="text" name="VRM" class="form-control">
              </div>   


              <p><input class="button" type="submit" href="registration-number-error" value="Continue"></p>

              <p><a href="index">Back</a></p>


          </form>

        </div>
    </div>
</main>

{% endblock %}


