{% extends "layout.html" %}

{% block page_title %}
  MOT Reminder - what is registration number
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div id="phase_banner_beta">  
      {% include "includes/phase_banner_beta.html" %}
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                What is your email address?
            </h1>

            <form action="your-details" method="get" class="form">
              
                <div class="form-group">
                    <label for="email">Email address</label></br><span class="form-hint">Your reminder will be sent here</span>
                    <input type="text" name="email" class="form-control">
                </div>   

                <p><input class="button" type="submit" href="your-details" value="Continue"></p>

                <p><a href="index">Back</a></p>

            </form>

      
        </div>
    </div>
</main>

{% endblock %}


