cd{% extends "layout.html" %}

{% block page_title %}
  New URL - update your bookmarks - MOT testing service
{% endblock %}

{% block bar_heading %}
  MOT testing service
{% endblock %}

{% block content %}



<main id="content" role="main">

<!--<a class="link-back" href="enter-reg">Back</a>-->

<div class="organisation-logo organisation-logo--md" style='margin-top: 30px; border-left: 2px solid #006c56; padding: 5px 0 5px 45px; background-image: url("https://www.mot-testing.service.gov.uk/assets/images/icons/crests/org_crest_18px.png"); background-position: 6px center; background-repeat: no-repeat;'>Driver &amp; Vehicle Standards Agency</div>

<h1 class="heading-xlarge" style="margin-bottom: 20px;">
    New address
</h1>     


<div class="grid-row">

      <div class="column-two-thirds">


          <p class="lede">MOT testing service has been moved to a different address.</p>

          <p>Please update your bookmarks.<br>

          The new address is: <a href="https://www.mot-testing.service.gov.uk/">https://www.mot-testing.service.gov.uk/</a></p>

          <h2 class="heading-medium">
              Get help using the service
          </h2>

          <div>
              Contact DVSA by phone on 0300 123 9000<br>
              Monday to Friday, 7.30am to 6pm<br>
              <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
          </div>

      </div>

</div>

</main>

{% endblock %}


