{% extends "layout.html" %}

{% block page_title %}
  2FA - GOV.UK prototype
{% endblock %}

{% block service_name %}
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Bob Thomas Arctor (AEDM)</a>
      <ul id="proposition-links">
        <li><a href="url-to-page-1">Home</a></li>
        <li><a href="url-to-page-2">Your profile</a></li>
        <li><a href="url-to-page-2">Sign out</a></li>
      </ul>
    </nav>
{% endblock %}


{% block content %}

<main id="content" role="main">

      <h1 class="heading-xlarge">
        MTS start page
      </h1>

      <p><span class="heading-small">Choose where you want to start</span></p>

      <p><a href="notification">Notification</a></p>
      
      <p><a href="user-profile">User profile</a></p>

      <hr>
      
</main>

{% endblock %}


