{% extends "layout.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block service_name %}
    <nav id="proposition-menu">
        <a href="/" id="proposition-name">Bob Thomas Arctor (Tester)</a>
        <ul id="proposition-links">
            <li><a href="url-to-page-1">Home</a></li>
            <li><a href="url-to-page-2">Your profile</a></li>
            <li><a href="url-to-page-2">Sign out</a></li>
        </ul>
    </nav>
{% endblock %}


{% block content %}

<main id="content" role="main">

    <div class="breadcrumbs">
        <ol>
            <li><a href="/">Home</a></li>
            <li>Your performance dashboard</li>
        </ol>
    </div>

<div class="grid-row">

    <div class="column-two-thirds">

        <!-- Titles -->

        <header class="content-header">

            <h1>
                <span class="content-header__type">Your profile</span>
                <span class="content-header__title">Mr Bertie Lorenzo Shollenbarger</span>
            </h1>

        </header>                

        <!-- END -->

        <div class="row contents">
            
            <div class="col-lg-12">
      

        <h3 class="summary-heading">Personal details</h3>
        
        <table class="table-summary" id="personal_details">
            <tbody>
                <tr>
                    <th class="table-summary__key">Name</th>
                    <td class="table-summary__value" id="display-name">
                        Mr Bertie Lorenzo Shollenbarger</td>
                </tr>
                <tr>
                    <th class="table-summary__key">User ID</th>
                    <td class="table-summary__value" id="display-username">
                        SHOL8522</td>
                </tr>
                        <tr>
                    <th class="table-summary__key">Date of birth</th>
                    <td class="table-summary__value" id="date-of-birth">
                        2 October 1975</td>
                </tr>
                
                <tr>
                    <th class="table-summary__key">Driving licence</th>
                    <td class="table-summary__value" id="drivingLicence">
                        DUNAY504037VJ9KA<br><span class="table-summary__meta">GB licence</span></td>
                </tr>

            </tbody>
        </table>

<h3 class="heading-medium">Contact details</h3>
<table class="table-summary__key" id="contact_details">
    <tbody>
        <tr>
            <th class="table-summary__key">Email</th>
            <td class="table-summary__value" id="email-address">
                success+corrinne.feimster.168814@simulator.amazonses.com                <a href="/your-profile/email/change" class="table-summary__action">Change<span class="visuallyhidden"> Email</span></a>            </td>
        </tr>
        <tr>
            <th class="table-summary__key">Address</th>
            <td class="table-summary__value" id="full-address">
                                    98, Tip Way, <br>                    Sudbury, <br>                    Suffolk, <br>                    Suffolk, <br>                    SW13 6ZU<br>                <a href="/your-profile/address/change" class="table-summary__action">Change</a>            </td>
        </tr>
        <tr>
            <th class="table-summary__key">Telephone</th>
            <td class="table-summary__value" id="telephone-number">
                04509100000<a href="/your-profile/telephone/change" class="table-summary__action" title="Change Telephone">Change<span class="visuallyhidden"> Telephone</span></a>            </td>
        </tr>
    </tbody>
</table>


<h3 class="heading-medium">Security card</h3>
<table class="table-summary__key" id="security-card">
    <tbody>
        <tr>
            <th class="table-summary__key">
                Activation date
            </th>
            <td class="table-summary__value" id="activation_date">
                3 December 2016            </td>
        </tr>
        <tr>
            <th class="table-summary__key">
                Serial number
            </th>
            <td class="table-summary__value" id="serial_number" style="background-color: rgb(213, 255, 202);">
                4610900000046109            </td>
        </tr>
    </tbody>
</table>

<nav class="content-navigation">
    <ul class="content-navigation__secondary">
                <li>
            <a href="/">Return home</a>
        </li>
    </ul>
</nav>
                </div>
            </div>
        
        
                </div>

                <div class="column-third">

                    
<div class="related">

    
        
            <ul class="related__status" id="qualification_status">

                                    <li id="group-a">
                        <span class="badge--success">
                            Qualified                        </span>
                        <strong>
                            Group A                        </strong>
                                                    <br>
                            <span class="text-secondary">
                                Class 1 and 2                            </span>
                                                                    </li>
                                    <li id="group-b">
                        <span class="badge">
                            Not Applied                        </span>
                        <strong>
                            Group B                        </strong>
                                                    <br>
                            <span class="text-secondary">
                                Class 3, 4, 5 and 7                            </span>
                                                                    </li>
                
            </ul>

        
        
    
        
                    <div class="related__section" id="account_security">
                <h2 class="related__section-title">Account security</h2>

                <ul class="related__section-links">
                    
                                            <li>
                                                        <a class="" id="change-password" href="/your-profile/change-password">
                                Change your password                            </a>
                        </li>


                                            <li>
                                                        <a class="" id="change-security-questions" href="/your-profile/change-security-questions">
                                Change your security questions                            </a>
                        </li>


                    
                </ul>
            </div>

        
    
        
                    <div class="related__section" id="related">
                <h2 class="related__section-title">Related</h2>

                <ul class="related__section-links">
                    
                                            <li>
                                                        <a class="" id="roles-and-associations" href="/your-profile/trade-roles">
                                Roles and associations                            </a>
                        </li>


                                            <li>
                                                        <a class="" id="test-logs" href="/your-profile/mot-test-log">
                                Test logs                            </a>
                        </li>


                                            <li>
                                                        <a class="" id="test-quality-information" href="/your-profile/test-quality-information">
                                Test quality information                            </a>
                        </li>


                    
                </ul>
            </div>

        
    
        
                    <div class="related__section" id="annual_assessments">
                <h2 class="related__section-title">Annual assessments</h2>

                <ul class="related__section-links">
                    
                                            <li>
                                                        <a class="" id="annual-assessment-certificates" href="/your-profile/annual-assessment-certificates">
                                View or add annual assessment certificates                            </a>
                        </li>


                    
                </ul>
            </div>

        
    
        
            <div class="related__section" id="qualifications">
                <h2 class="related__section-title">Initial training and demonstration tests</h2>

                <ul class="related__section-links">
                    
                                            <li>
                                                        <a class="" id="qualification-details" href="/your-profile/qualification-details">
                                View or add initial training qualifications                            </a>
                        </li>


                    
                </ul>
            </div>

        
    
</div>

                </div>

            </div>
      
</main>

{% endblock %}


