
{% extends "layout.html" %}

{% block page_title %}
  NISSAN QASHQAI - Vehicle safety checker
{% endblock %}

{% block bar_heading %}
  Vehicle safety checker
{% endblock %}

{% block content %}

<style type="text/css">
    @media (min-width: 641px) {
        .related {
            border-top: 1px solid #bfc1c3
        }
        }
        .related-item {
            padding-top: 1em
        }
        .related-item__title {
            font-family: "nta", Arial, sans-serif;
            font-weight: 700;
            text-transform: none;
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 0.5em
        }

        @media (min-width: 641px) {
        .related-item__title {
            font-size: 19px;
            line-height: 1.31579
        }
        }
        .related-item__description {
            margin-bottom: 0.5em
        }
        .related-item__list {
            font-family: "nta", Arial, sans-serif;
            font-weight: 400;
            text-transform: none;
            font-size: 14px;
            line-height: 1.14286;
            list-style: none
        }

        @media (min-width: 641px) {
        .related-item__list {
            font-size: 16px;
            line-height: 1.25
        }
        }
        .related-item__list-item {
            margin-bottom: 0.5em
        }
        .related-item__email-link {
            padding-left: 30px;
            font-weight: bold;
            background: url(https://assets.publishing.service.gov.uk/service-manual-frontend/mail-icon-x2-875fea8b0999065a033d6d6f952eb6cb8f43507629d6ea4f7992dcc4eaed2cb9.png) 5px 40% no-repeat;
            background-size: 20px 14px
        }
</style>

<main id="content" role="main"> <a class="link-back" href="enter-reg">Back</a>
    <h1 class="heading-xlarge" style="margin-bottom: 20px;"> <span class="heading-secondary">EJ13YLS</span>NISSAN QASHQAI</h1>
    <p><a href="#">Check another vehicle</a></p>
    <div class="grid-row">
        <div class="column-quarter">
            <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size: 1.05em;">Colour </span>White</h1>
        </div>
        <div class="column-quarter">
            <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size: 1.05em;">Fuel type </span>Petrol</h1>
        </div>
        <div class="column-quarter">
            <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size: 1.05em;">Year of manufacture </span>2013 (13 reg)</h1>
        </div>
        <div class="column-quarter">
            <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size: 1.05em;">Cylinder capacity (cc) </span>1598 cc</h1>
        </div>
    </div>
    <br>
    <h1 class="heading-large" style="margin-top: 0px;"> <span class="heading-secondary">MOT valid until</span> 22 May 2018</h1>
    <p><a href="/reminders/v1/index">Get an MOT reminder</a> by email or text</p>
    
    <!--<br>
    <a class="button" href="">Check another vehicle</a> 
    <br>
    <br>-->

    <div class="grid-row">
        <div class="column-two-thirds">

            <!-- ACCORDION START-->

            <div class="js-hidden" data-module="accordion-with-descriptions">
                <div class="subsection-wrapper">

                    <div class="subsection js-subsection">
                      <div class="subsection__header">
                        <h2 class="subsection__title" id="designing-government-services">MOT history</h2>
                        <p class="subsection__description">Mileage recorded at test, parts failed or had minor problems.</p>
                      </div>
                      <div class="subsection__content js-subsection-content" id="subsection_content_0">
                
                        <!-- test start -->
                        
                        <div class="grid-row">
                            <div class="column-third">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 10 February 2017 </h1>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                            </div>
                            <div class="column-two-thirds">
                                <div class="grid-row">
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 29,611 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size: 1.05em;">Expiry date</span> 9 February 2018 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> Halfords Autocentre<br>
                                            160 Bromley Rd<br>
                                            London<br>
                                            SE6 2NZ </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 3995 7555 7274 </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- test end -->
                        
                        <hr>
                        
                        <!-- test start -->
                        <div class="grid-row">
                            <div class="column-third">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 10 February 2017 </h1>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #B10E1E;">FAIL</h1>
                            </div>
                            <div class="column-two-thirds">
                                <div class="grid-row">
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 29,611 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 5864 4990 1701 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> Halfords Autocentre<br>
                                            160 Bromley Rd<br>
                                            London<br>
                                            SE6 2NZ </h1>
                                    </div>
                                </div>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Reasons for failure:</span>
                                    <ul class="list list-bullet">
                                        <li>Nearside Track rod end ball joint has excessive play (2.2.B.1f)</li>
                                        <li>Nearside Rear Tyre has a cut in excess of the requirements deep enough to reach the ply or cords (4.1.D.1a)</li>
                                    </ul>
                                </h1>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>
                                    <ul class="list list-bullet">
                                        <li>Offside Track rod end ball joint has slight play (2.2.B.1f)</li>
                                    </ul>
                                </h1>
                                <div class="form-group">
                                    <details>
                                        <summary><span class="summary">What are failures and advisories?</span></summary>
                                        <div class="panel panel-border-narrow">
                                            <p>Failure items must be fixed before the vehicle can pass its MOT.</p>
                                            <p> Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>
                                        </div>
                                    </details>
                                </div>
                            </div>
                        </div>
                        
                        <!-- test end -->
                        
                        <hr>
                        
                        <!-- test start -->
                        <div class="grid-row">
                            <div class="column-third">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 27 May 2016 </h1>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                            </div>
                            <div class="column-two-thirds">
                                <div class="grid-row">
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 27,815 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Expiry date</span> 27 May 2017 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> Hopfields Auto Repairs<br>
                                            2-10 Raymouth Rd<br>
                                            London<br>
                                            SE16 2DB </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 3766 9868 0212 </h1>
                                    </div>
                                </div>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>
                                    <ul class="list list-bullet">
                                        <li>Offside Front Track rod end ball joint has slight play (2.2.B.1f)</li>
                                        <li>Rear spare wheel slight loose</li>
                                    </ul>
                                </h1>
                                <div class="form-group">
                                    <details>
                                        <summary><span class="summary">What are advisories?</span></summary>
                                        <div class="panel panel-border-narrow">

                                            <p> Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>
                                        </div>
                                    </details>
                                </div>
                            </div>
                        </div>
                        
                        <!-- test end -->
                        
                        <hr>
                        
                        <!-- test start -->
                        <div class="grid-row">
                            <div class="column-third">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 25 May 2016 </h1>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #B10E1E;">FAIL</h1>
                            </div>
                            <div class="column-two-thirds">
                                <div class="grid-row">
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 27,809 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 5286 7395 5109 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> Hopfields Auto Repairs<br>
                                            2-10 Raymouth Rd<br>
                                            London<br>
                                            SE16 2DB </h1>
                                    </div>
                                </div>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Reasons for failure:</span>
                                    <ul class="list list-bullet">
                                        <li>Nearside Rear Stop lamp not working (1.2.1b)</li>
                                        <li>Nearside Front Track rod end ball joint has excessive play (2.2.B.1f)</li>
                                    </ul>
                                </h1>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>
                                    <ul class="list list-bullet">
                                        <li>Offside Front Track rod end ball joint has slight play (2.2.B.1f)</li>
                                        <li>Rear spare wheel slight loose</li>
                                    </ul>
                                </h1>
                                <div class="form-group">
                                    <details>
                                        <summary><span class="summary">What are failures and advisories?</span></summary>
                                        <div class="panel panel-border-narrow">
                                            <p>Failure items must be fixed before the vehicle can pass its MOT.</p>
                                            <p> Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>
                                        </div>
                                    </details>
                                </div>
                            </div>
                        </div>
                        
                        <!-- test end -->
                        
                        <hr>
                        
                        <!-- test start -->
                        <div class="grid-row">
                            <div class="column-third">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 12 May 2015 </h1>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                            </div>
                            <div class="column-two-thirds">
                                <div class="grid-row">
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 21,394 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Expiry date</span> 11 May 2016 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> Caledonian Autos<br>
                                            21 Caledonian Rd<br>
                                            London<br>
                                            N7 0AB </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 6053 6283 5134 </h1>
                                    </div>
                                </div>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>
                                    <ul class="list list-bullet">
                                        <li>Nearside Track rod end ball joint has slight play (2.2.B.1f)</li>
                                    </ul>
                                </h1>
                                <div class="form-group">
                                    <details>
                                        <summary><span class="summary">What are advisories?</span></summary>
                                        <div class="panel panel-border-narrow">

                                            <p> Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>
                                        </div>
                                    </details>
                                </div>
                            </div>
                        </div>
                        
                        <!-- test end -->
                        
                        <hr>
                        
                        <!-- test start -->
                        <div class="grid-row">
                            <div class="column-third">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 26 March 2014 </h1>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                            </div>
                            <div class="column-two-thirds">
                                <div class="grid-row">
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 18,319 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Expiry date</span> 10 April 2015 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> Kwik Fit<br>
                                            136-142 New Kent Rd<br>
                                            London<br>
                                            SE1 6TU </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 1050 7518 4032 </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- test end -->
                        
                        <hr>
                        
                        <!-- test start -->
                        <div class="grid-row">
                            <div class="column-third">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 9 April 2013 </h1>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                            </div>
                            <div class="column-two-thirds">
                                <div class="grid-row">
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 11,723 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Expiry date</span> 10 April 2014 </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> Kwik Fit<br>
                                            387 Bethnal Green Rd<br>
                                            London<br>
                                            E2 0AN </h1>
                                    </div>
                                    <div class="column-one-half">
                                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 1479 2969 3048 </h1>
                                    </div>
                                </div>
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>
                                    <ul class="list list-bullet">
                                        <li>Parking brake lever has little reserve travel (3.1.6b)</li>
                                        <li>Items removed from driver's view prior to test</li>
                                    </ul>
                                </h1>
                                <div class="form-group">
                                    <details>
                                        <summary><span class="summary">What are advisories?</span></summary>
                                        <div class="panel panel-border-narrow">

                                            <p> Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>
                                        </div>
                                    </details>
                                </div>
                            </div>
                        </div>

                      </div>
                    </div>

                    <div class="subsection js-subsection">
                      <div class="subsection__header">
                        <h2 class="subsection__title" id="working-with-frontend">Vehicle specification</h2>
                        <p class="subsection__description">Colour, fuel type, engine size, number of previous keepers.</p>
                      </div>
                      <div class="subsection__content js-subsection-content" id="subsection_content_1">
                        
                        <h3 class="heading-medium" style="margin-top: 7px;">Registration details</h3>
                        <table>
                            <tr>
                                <td>Date of first registration</td>
                                <td><span class="bold">8 July 2013</span></td>
                            </tr>
                            <tr>
                                <td>Year of manufacture</td>
                                <td><span class="bold">2013</span></td>
                            </tr>
                            <tr>
                                <td>Export marker</td>
                                <td><span class="bold">No</span></td>
                            </tr>
                            <tr>
                                <td>Number of previous owners</td>
                                <td><span class="bold">2</span></td>
                            </tr>
                        </table>
                        <br>
                        <h3 class="heading-medium" style="margin-top: 7px;">Vehicle specifications</h3>
                        <table>
                            <tr>
                                <td>Cylinder capacity (cc)</td>
                                <td><span class="bold">1598cc</span></td>
                            </tr>
                            <tr>
                                <td>CO₂Emissions</td>
                                <td><span class="bold">139 g/km</span></td>
                            </tr>
                            <tr>
                                <td>Vehicle type approval</td>
                                <td><span class="bold">M1</span></td>
                            </tr>
                            <tr>
                                <td>Wheelplan</td>
                                <td><span class="bold">2 AXLE RIGID BODY</span></td>
                            </tr>
                            <tr>
                                <td>Revenue weight</td>
                                <td><span class="bold">Not available</span></td>
                            </tr>
                        </table>
                        <br>
                        <p> If you think any of the vehicle details are wrong, <a href="">contact DVSA</a> </p>

                      </div>
                    </div>

                    <!--<div class="subsection js-subsection">
                      <div class="subsection__header">
                        <h2 class="subsection__title" id="working-with-patterns">Background checks</h2>
                        <p class="subsection__description">Stolen, scrapped, insurance write off category</p>
                      </div>
                      <div class="subsection__content js-subsection-content" id="subsection_content_2">

                        <h1 class="heading-large" style="margin-top: 15px; font-size: 3.5em; color: #B10E1E;">Recall found</h1>
                        <p>As of <span class="bold">17 September 2017</span> there is an outstanding safety recall on this vehicle.</p>
                        <p>Contact a <span class="bold">Nissan</span> dealership to arrange for repairs.</p>
                        <p>If this information about an outstanding safety recall is incorrect, please contact a <span class="bold">Nissan</span> dealership.</p>
                        <br>
                        <h3 class="heading-medium" style="margin-top: 7px;">What are safety recalls</h3>
                        <p>Manufacturers recall vehicles with design or construction defects that could result in a serious injury.</p>
                        <p>If you are the vehicle owner, you are legally responsible for making sure that this vehicle is safe to drive on roads.</p>
                      
                      </div>
                    </div>-->

                    <div class="subsection js-subsection">
                      <div class="subsection__header">
                        <h2 class="subsection__title" id="working-with-patterns">Manufacturer’s safety recalls</h2>
                        <p class="subsection__description">Check if this vehicle has an outstanding safety recall.</p>
                      </div>
                      <div class="subsection__content js-subsection-content" id="subsection_content_2">

                        <h1 class="heading-large" style="margin-top: 15px; font-size: 3.5em; color: #B10E1E;">Recall found</h1>
                        
                        <p>As of <span class="bold">17 September 2017</span> there's an outstanding safety recall on <span class="bold">Nissan Qashqai EJ13YLS</span>.</p>
                        <p>Contact a Nissan dealership to arrange for repairs.</p>
                        <p>If you've had the recalled component repaired recently, it can take up to three weeks for the vehicle manufacturer to update their records.</p>
                      
                      </div>
                    </div>

                </div>

            <!--   ACCORDION END -->

            </div>
        </div>

        <!--<div class="column-third">
            <aside class="related">
              <div class="related-item">
                <h2 class="related-item__title" id="related-communities">
                  Join the community        </h2>
                <p class="related-item__description">
                  Find out what the cross-government community does and how to get involved.
                </p>
                <nav role="navigation" aria-labelledby="related-communities" class="related-communities">
                  <ul class="related-item__list">
                      <li class="related-item__list-item">
                        <a href="/service-manual/communities/agile-delivery-community">Agile delivery community</a>
                      </li>
                      <li class="related-item__list-item">
                        <a href="/service-manual/communities/standards-and-assurance-community">Standards and assurance community</a>
                      </li>
                  </ul>
                </nav>
              </div>

              <div class="related-item">
                <h2 class="related-item__title" id="related-subscriptions">
                  Get notifications
                </h2>
                <p class="related-item__description">When any guidance within this topic is updated
                  <a class="related-item__email-link" href="/service-manual/agile-delivery/email-signup">email</a>
                </p>
              </div>
            </aside>
        </div>-->

    </div>
    
</main>
{% endblock %}
