{% extends "layout.html" %}

{% block bar_heading %}
  Get an annual MOT reminder
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">
              <span class="heading-secondary">Prototype</span>
              Get MOT reminder 
          </h1>
         
          <p>
              Content designer & researcher: <a href="mailto:o.sharp@kainos.com">Olivia Sharp</a><br>
              UX Designer: <a href="mailto:r.drewnowski@kainos.com">Rafal Drewnowski</a>
          </p>

          <hr>

          <p>Work in progress</p>

          <ul class="list list-bullet">
              <li>
                  <a href="/reminders/v2/">Version 2</a><br>
                  Added new channel - SMS
              </li>  

          </ul>
          
          <hr>

          <p><span class="heading-small">User research session 11 & 12 July 2017</span></p>
          
          <p>Intial layout</p>
          
          <ul class="list list-bullet">
              <li><a href="/reminders/v1/">Version 1</a>  
              <li><a href="/reminders/v1b/">Version 1B - with error message</a>  
          </ul>
          
          <hr>

        </div>
    </div>
</main>

{% endblock %}


