{% extends "layout.html" %}

{% block bar_heading %}
  Get an annual MOT reminder
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">
              <span class="heading-secondary">Prototype</span>
              Get MOT reminder 
          </h1>
               Content designer: <a href="mailto:k.puustinen@kainos.com">Kaisa Puustinen</a><br>
               UX Designer: <a href="mailto:r.drewnowski@kainos.com">Rafal Drewnowski</a>
          </p>

          
          <hr>

          <p>
              <span class="heading-small">Error messages / notices</span> - work in progress
          </p>
          
          <p>
              Vehicle registration mark (VRM) errors
          </p>

          <ul class="list list-bullet">
              <li>
                  <a href="/reminders/v4a/">Error: Nothing entered</a>
              </li>  
              <li>
                  <a href="/reminders/v4b/">Error: Invalid characters</a>
              </li> 
              <li>
                  <a href="/reminders/v4c/">Erorr: No vehicle found - wrong VRM</a>
              </li> 
              <li>
                  <a href="/reminders/v4c/">Error: Too long VRM</a>
              </li> 
              <li>
                  <a href="/reminders/v4e/">Notice: MOT expired</a>
              </li> 
          </ul>
          
           <p>
              Phone number errors
          </p>

          <ul class="list list-bullet">
              <li>
                  <a href="/reminders/v4f/">Error: Nothing entered</a>
              </li>  
              <li>
                  <a href="/reminders/v4g/">Error: Not a valid mobile number or ot a UK mobile number</a>
              </li>   
              <li>
                  <a href="/reminders/v4h/">Error: There is already 2 subscription setup to this mobile number</a>
              </li>  
          </ul>

         <hr>

          <p>
              <span class="heading-small">Multiple vehicles</span> - work in progress
          </p>
          
          <ul class="list list-bullet">
              <li>
                  <a href="/reminders/v3a/">Version 3A - unsubscribe flow</a>
              </li>  
              <li>
                  <a href="/reminders/v3b/">Version 3B - unsubscribe flow</a>
              </li> 
          </ul>
          
          <hr>


          <p>
              Content designer & researcher: <a href="mailto:o.sharp@kainos.com">Olivia Sharp</a><br>
          </p>

          <p>
              <span class="heading-small">User research session 14-16 August 2017</span>
          </p>

          <ul class="list list-bullet">
              <li>
                  <a href="/reminders/v2/">Version 2</a> - happy path
                  <p>
                      <a href="v2/signed-up">you've signed up</a> page<br>
                      <a href="v2/want-to-unsubscribe">do you want to unsubscribe</a> page</p>
                  </p>
             </li>
              <li>
                  <a href="/reminders/v2b/">Version 2B</a> - no valid MOT<br>
              </li>             
              <li>
                  <a href="/reminders/v2c/">Version 2C</a> - what reminder do you want - email or text? 
                  <p>
                      <a href="https://marvelapp.com/4ef485i/screen/30950921" target="_blank">unsubcribe by text</a> flow
                  </p>
              </li>  

          </ul>
          
          <hr>

          <p>
              <span class="heading-small">User research session 11 & 12 July 2017</span>
          </p>
          
          <p>
              Intial layout
          </p>
          
          <ul class="list list-bullet">
              <li>
                  <a href="/reminders/v1/">Version 1</a><br>
                  Happy path
              </li>  
              <li>
                  <a href="/reminders/v1b/">Version 1B</a><br>
                  No valid MOT
              </li>
          </ul>
          
          <hr>

        </div>
    </div>
</main>

{% endblock %}


