{% extends "layout.html" %}

{% block page_title %}
  Check MOT history
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      <span class="heading-secondary">Prototype</span>
        Check MOT history 
        
      </h1>
     

     
      <p>Content designer & researcher:  <a href="mailto:o.sharp@kainos.com">Olivia Sharp</a><br>
      UX Designer: <a href="mailto:c.sisk@kainos.com">Chris Sisk</a>
      </p>

      <hr>

      <p><span  class="heading-small">User research session 11 & 12 July 2017</span></p>

      <p>Work in progress</p>
      
      <ul class="list list-bullet">


        <li><a href="v2/">Version 2</a>
        <br>
        Updated layout: vehicle details in table format and test date linked to pass or fail hero text. <br>
        Average MOT History - Michael's car</li>

        <li><a href="v2-1/">Version 2.1</a>
        <br>Content overhaul.
        <br>
        <br>
        Error messages
        <br>
        <a href="v2-1/result-4">MOT expiring in one month</a><br>
        <a href="v2-1/result-2">MOT expired</a><br>
        <a href="v2-1/result-3">Recall</a>
        </li>

      </ul>
      <!-- <p>Notes:
      <br>
      <a href="">Research de-brief</a></p> -->
      
      <hr>

  

      <p><span  class="heading-small">User research session 20 & 21 June 2017</span> <br>Kainos London office</p>

      <p>Intial layout update</p>
			<ul class="list list-bullet">
				<li><a href="v1/">Version 1</a>
        <br>
        Average MOT History - Michael's car</li>
        <li><a href="v1-1/">Version 1.1</a>
        <br> 
        Long MOT History - Olivia's car</li>
			</ul>
      <!-- <p>Notes:
      <br>
      <a href="">Research de-brief</a></p> -->
      
      <hr>


   

    </div>
  </div>
</main>

{% endblock %}


