{% extends "layout.html" %}

{% block bar_heading %}
  Check MOT history
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Prototype</span>
        Check MOT history
        </h1>



      <p>Researcher: <a href="mailto:n.ashraf@kainos.com">Nahella Ashraf</a>, <a href="mailto:o.sharp@kainos.com">Olivia Sharp</a>,<br>
      Content designer: <a href="mailto:k.puustinen@kainos.com">Kaisa Puustinen-Hopper</a>, <a href="mailto:o.sharp@kainos.com">Olivia Sharp</a>,<br>
      UX Designer: <a href="mailto:d.rees@kainos.com">Dyfrig Rees</a>, <a href="mailto:c.sisk@kainos.com">Chris Sisk</a>
      </p>

      <hr>

      <p><span  class="heading-small">User research session XX October 2017</span></p>

      <p>Work in progress</p>

      <ul class="list list-bullet">

        <li><span class="bold">Version 9</span>
          <br>
          Iterated layout: also includes GDS Accordian version

          <br>
          <br>
          <a href="v9/scenario-3-accordion">Scenario 3</a> accordion
          <br>
          <a href="v9/scenario-3-tabbed">Scenario 3</a> tabbed
          <br>
          We know that there is an outstanding recall as of XX date [classes 3,4,5 and 7 that DVSA and SMMT know] 

        </li>
      </ul>

      <hr>

      <p><span  class="heading-small">User research session XX September 2017</span></p>

      <p>Work in progress</p>

      <ul class="list list-bullet">

        <li><span class="bold">Version 8</span>
        <br>
        Iterated layout: Tabbed version to reduce cognative overload.

        <br>
        <br>
        <a href="v8/scenario-1">Scenario 1</a>
        <br>
        There are no recalls on this vehicle that we know of. Also for vehicles without VIN
        <br>
        <br>
        <a href="v8/scenario-3">Scenario 3</a>
        <br>
        We know that there is an outstanding recall as of XX date [classes 3,4,5 and 7 that DVSA and SMMT know]
        <br>

        <hr>

        </li>

        <li><span class="bold">Version 7</span>
        <br>
        Recall message added to current layout: Changed 'Check another vehicle' CTA to text link. Amended content based on feedback.

        <br>
        <br>
        <a href="v7/scenario-1">Scenario 1 - option a</a> - blue link
        <br>
        <a href="v7/scenario-1b">Scenario 1 - option b</a> - grey button
        <br>
        There are no recalls on this vehicle that we know of. Also for vehicles without VIN
        <br>
        <br>
        <a href="v7/scenario-2">Scenario 2 - option a</a> - blue link
        <br>
        <a href="v7/scenario-2b">Scenario 2 - option b</a> - grey button
        <br>
        There may be a recall, but we can't be sure [classes 1 and 2, or 3,4,5 and 7 that DVSA knows, but isn't on SMMT]
        <br>
        <br>
        <a href="v7/scenario-3">Scenario 3 - option a</a> - blue link
        <br>
        <a href="v7/scenario-3b">Scenario 3 - option b</a> - grey button
        <br>
        We know that there is an outstanding recall as of XX date [classes 3,4,5 and 7 that DVSA and SMMT know]
        <br>
        <br>
        <a href="v7/scenario-4">Scenario 4 - option a</a> - blue link
        <br>
        <a href="v7/scenario-4b">Scenario 4 - option b</a> - grey button
        <br>
        We know that there are multiple outstanding recalls as of XX date [classes 3,4,5 and 7 that DVSA and SMMT know]
        <br>
        <br>
        <a href="v7/scenario-5">Scenario 5 - option a</a> - blue link
        <br>
        <a href="v7/scenario-5b">Scenario 5 - option b</a> - grey button
        <br>
        There is a recall but something went wrong with the database
        <br>
        <br>
        <a href="v7/scenario-6">Scenario 6 - option a</a> - blue link
        <br>
        <a href="v7/scenario-6b">Scenario 6 - option b</a> - grey button</a>
        <br>
        Something is wrong with the data and we are never going to be able to return a result
        <br>

        <hr>

        </li>

        <li><span class="bold">Version 6</span>
        <br>
        Updated layout: Changed 'Check another vehicle' CTA to text link. Amended content based on feedback, and styled the 'Check recall to look more like a button.

        <br>
        <br>
        <a href="v6/scenario-1">Scenario 1 - option a</a> - blue link
        <br>
        <a href="v6/scenario-1b">Scenario 1 - option b</a> - grey button
        <br>
        There are no recalls on this vehicle that we know of. Also for vehicles without VIN
        <br>
        <br>
        <a href="v6/scenario-2">Scenario 2 - option a</a> - blue link
        <br>
        <a href="v6/scenario-2b">Scenario 2 - option b</a> - grey button
        <br>
        There may be a recall, but we can't be sure [classes 1 and 2, or 3,4,5 and 7 that DVSA knows, but isn't on SMMT]
        <br>
        <br>
        <a href="v6/scenario-3">Scenario 3 - option a</a> - blue link
        <br>
        <a href="v6/scenario-3b">Scenario 3 - option b</a> - grey button
        <br>
        We know that there is an outstanding recall as of XX date [classes 3,4,5 and 7 that DVSA and SMMT know]
        <br>
        <br>
        <a href="v6/scenario-4">Scenario 4 - option a</a> - blue link
        <br>
        <a href="v6/scenario-4b">Scenario 4 - option b</a> - grey button
        <br>
        We know that there are multiple outstanding recalls as of XX date [classes 3,4,5 and 7 that DVSA and SMMT know]
        <br>
        <br>
        <a href="v6/scenario-5">Scenario 5 - option a</a> - blue link
        <br>
        <a href="v6/scenario-5b">Scenario 5 - option b</a> - grey button
        <br>
        There is a recall but something went wrong with the database
        <br>
        <br>
        <a href="v6/scenario-6">Scenario 6 - option a</a> - blue link
        <br>
        <a href="v6/scenario-6b">Scenario 6 - option b</a> - grey button</a>
        <br>
        Something is wrong with the data and we are never going to be able to return a result
        <br>

        <hr>

        </li>
        </ul>

        <p><span  class="heading-small">User research session 19 & 20 September 2017</span></p>

        <p>Work in progress</p>

        <ul class="list list-bullet">

        <li><span class="bold">Version 5</span>
        <br>
        Updated layout: Stacked vehicle information to allow for additional elements and recall CTA added.

        <br>
        <br>
        <a href="v5/scenario-1">Scenario 1</a>
        <br>
        There are no recalls on this vehicle that we know of. Also for vehicles without VIN
        <br>
        <br>
        <a href="v5/scenario-2">Scenario 2</a>
        <br>
        There may be a recall, but we can't be sure [classes 1 and 2, or 3,4,5 and 7 that DVSA knows, but isn't on SMMT]
        <br>
        <br>
        <a href="v5/scenario-3">Scenario 3 - option a</a>
        <br>
        <a href="v5/scenario-3b">Scenario 3 - option b</a>
        <br>
        We know that there is an outstanding recall as of XX date [classes 3,4,5 and 7 that DVSA and SMMT know]
        <br>
        <br>
        <a href="v5/scenario-4">Scenario 4</a>
        <br>
        We know that there are multiple outstanding recalls as of XX date [classes 3,4,5 and 7 that DVSA and SMMT know]
        <br>
        <br>
        <a href="v5/scenario-5">Scenario 5</a>
        <br>
        There is a recall but something went wrong with the database
        <br>
        <br>
        <a href="v5/scenario-6">Scenario 6</a>
        <br>
        Something is wrong with the data and we are never going to be able to return a result
        <br>

        <hr>

        </li>

        <li><span class="bold">Version 4</span>
        <br>
        Recall message added to current layout.

        <br>
          <br>
        <a href="v4/scenario-1">Scenario 1</a>
        <br>
        There are no recalls on this vehicle that we know of. Also for vehicles without VIN
        <br>
        <br>
        <a href="v4/scenario-2">Scenario 2</a>
        <br>
        There may be a recall, but we can't be sure [classes 1 and 2, or 3,4,5 and 7 that DVSA knows, but isn't on SMMT]
        <br>
        <br>
        <a href="v4/scenario-3">Scenario 3 - option a</a>
        <br>
        <a href="v4/scenario-3b">Scenario 3 - option b</a>
        <br>
        We know that there is an outstanding recall as of XX date [classes 3,4,5 and 7 that DVSA and SMMT know]
        <br>
        <br>
        <a href="v4/scenario-4">Scenario 4</a>
        <br>
        We know that there are multiple outstanding recalls as of XX date [classes 3,4,5 and 7 that DVSA and SMMT know]
        <br>
        <br>
        <a href="v4/scenario-5">Scenario 5</a>
        <br>
        There is a recall but something went wrong with the database
        <br>
        <br>
        <a href="v4/scenario-6">Scenario 6</a>
        <br>
        Something is wrong with the data and we are never going to be able to return a result
        <br>

        <hr>

        </li>

      </ul>

      <ul class="list list-bullet">

        <li><a href="v3/">Version 3</a>
        <br>
        Updated layout: vehicle details in a row and include manufacture recall notification.
        <br>
        <br>
        Recall messages:
        <br>
        <a href="v3/result-1-no-recall">We have no information...</a><br>
        <a href="v3/result-1-not-sure">We do not currently have safety recall information...</a><br>
        <a href="v3/result-1-one-recall">There is an outstanding safety recall...</a><br>
        <a href="v3/result-1-multiple-recalls">There are outstanding safety recalls...</a><br>
        <a href="v3/result-1-recall-but-sww">Sorry, something went wrong...</a><br>
        <a href="v3/result-1-sww-never-return">Sorry, we are not able to find safety recall information...</a><br>
        <a href="v3/result-1-loading">Loading spinner if there is a delay in displaying the info...</a><br>
        </li>

      </ul>

      <hr>

      <p><span  class="heading-small">User research session 11 & 12 July 2017</span></p>

      <p>Work in progress</p>

      <ul class="list list-bullet">


        <li><a href="v2/">Version 2</a>
        <br>
        Updated layout: vehicle details in table format and test date linked to pass or fail hero text. <br>
        Average MOT History - Michael's car</li>

        <li><a href="v2-1/">Version 2.1</a>
        <br>Content overhaul.
        <br>
        <br>
        Error messages
        <br>
        <a href="v2-1/result-4">MOT expiring in one month</a><br>
        <a href="v2-1/result-2">MOT expired</a><br>
        <a href="v2-1/result-3">Recall</a><br>
        <a href="v2-1/result-5">Too new</a>

        <br>
        <br>
        Pages
        <br>
        <a href="v2-1/privacy-policy">Privacy policy</a>

        <br>
        <br>
        Day 1<br>

        <a href="moya/">Moya</a>
        <br>
        <a href="richard/">Richard</a>
        <br>
        <a href="funmi/">Funmi</a>
        <br>
        <a href="troy/">Troy</a>
        <br>
        <br>
        Day 2<br>
        <a href="kim/">Kim</a>
        <br>
        <a href="jesse/">Jesse</a>
        <br>
        <a href="peter/">Peter</a>
        <br>
        <a href="geraldine/">Geraldine</a>
        </li>

      </ul>
      <!-- <p>Notes:
      <br>
      <a href="">Research de-brief</a></p> -->

      <hr>



      <p><span  class="heading-small">User research session 20 & 21 June 2017</span> <br>Kainos London office</p>

      <p>Intial layout update</p>
			<ul class="list list-bullet">
				<li><a href="v1/">Version 1</a>
        <br>
        Average MOT History - Michael's car</li>
        <li><a href="v1-1/">Version 1.1</a>
        <br>
        Long MOT History - Olivia's car</li>
			</ul>
      <!-- <p>Notes:
      <br>
      <a href="">Research de-brief</a></p> -->

      <hr>




    </div>
  </div>
</main>

{% endblock %}
