{% extends "layout.html" %}

{% block bar_heading %}
  2FA Alternative
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Prototype</span>
                2FA Alternative
            </h1>

            <p>
               Service Designer: <a href="mailto:michael.campbell@dvsa.gov.uk">Michael Campbell</a><br>
               UX Designer: <a href="mailto:r.drewnowski@kainos.com">Rafal Drewnowski</a>
            </p>

            <hr>

            <p>
                <span class="heading-small">Lost/ Broken Journey</span> - work in progress
            </p>

            <ul class="list list-bullet">
                <li>
                    <a href="lost/sign-in.html">Version 1</a>
                </li>
            </ul>

            <hr>

            <p>
                <span class="heading-small">Card Ordered Journey</span> - work in progress
            </p>

          <ul class="list list-bullet">
              <li>
                  <a href="Ordered/index.html">Version 1</a>
              </li>
              <li>
                  <a href="Ordered/one-day-left-success.html">One day left</a>
              </li>
              <li>
                  <a href="Ordered/End-of-period/index-end.html">End of grace period</a>
              </li>
          </ul>

            <hr>

            <p>
              <span class="heading-small">Temporary Log in Journey</span> - work in progress
            </p>

            <ul class="list list-bullet">
                <li>
                    <a href="Temp/index.html">End of grace period</a>
                </li>
                <li>
                    <a href="Temp/happy-path/index.html">Normal login</a>
                </li>
            </ul>


          <hr>

            <p>
              <span class="heading-small">Password journeys</span> - work in progress
            </p>

          <ul class="list list-bullet">
              <li>
                  <a href="Password/index.html">Profile >> change password</a>
              </li>
          </ul>

          <hr>

            <p>
                <span class="heading-small">AEDM extends grace period</span> &mdash; work in progress
            </p>

            <ul class="list list-bullet">
                <li>
                    <a href="AEDM/v2/">Version 2</a> &mdash; 27.03.2018 wip
                </li>
                <li>
                    <a href="AEDM/">Version 1</a>
                </li>
            </ul>

            <hr>

            <p>
                <span class="heading-small">CSCO extend period</span> &mdash; work in progress
            </p>

            <ul class="list list-bullet">
                <li>
                    <a href="CSCO/">Version 1</a>
                </li>
            </ul>

            <hr>

            <p>
                <span class="heading-small">Reset account security</span> &mdash; work in progress
            </p>

            <ul class="list list-bullet">
                <li>
                    <a href="Reset-security/">Version 1</a>
                </li>
            </ul>

        </div>
    </div>
</main>

{% endblock %}
