{% extends "layout.html" %}

{% block bar_heading %}
  Report MOT fraud
{% endblock %}
{% block content %}



<main id="content" role="main">

<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      <span class="heading-secondary">Prototype</span>
        Report MOT fraud 
        
      </h1>
     

     
      <p>
      UX Designer: <a href="mailto:c.sisk@kainos.com">Chris Sisk</a>
      </p>

      <hr>

      <p><span  class="heading-small">Aligning to GOV style guide and content update</span></p>

      <p>Work in progress</p>
      
      <ul class="list list-bullet">


        <li><a href="v1/">Version 1</a></li>

        

      </ul>
      <!-- <p>Notes:
      <br>
      <a href="">Research de-brief</a></p> -->
      
      <hr>

  


   

    </div>
  </div>
</main>

{% endblock %}


