{% extends "layout.html" %}

{% block bar_heading %}
  Site review
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Prototype</span>
                Site review
            </h1>
            <p>
               UX Designer: <a href="mailto:r.drewnowski@kainos.com">Rafal Drewnowski</a><br>
               UX Designer: <a href="k.doyle@kainos.com">Katrina Doyle</a></p>
               <hr>
            <p><span class="heading-small">Site review journey</span> - work in progress</p>
            <ul class="list list-bullet">
                <li>
                    <a href="v1/index.html">Version 1</a>
                </li>
                 <li>
                    <a href="v2/index.html">Version 2 - with geolocation</a>
                </li>
                <li>
                    <a href="v3/index.html">Version 3</a>
                </li>
            </ul>
          <hr>
    </div>
</main>

{% endblock %}
