{% extends "layout.html" %}

{% block bar_heading %}
  Get an annual MOT reminder
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div id="phase_banner_beta">  
    {% include "includes/phase_banner_beta.html" %}
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h1 class="bold-large">
                    You’ve unsubscribed
                </h1>

                <p>
                    <!--You won’t get any more MOT reminders at {{ data['email'] }} for <span style="text-transform: uppercase;">{{ data['VRM'] }}</span>.-->
                    You won’t get any more MOT reminders at uxkainos@gmail.com for <span style="text-transform: uppercase;">NA61RDO</span>.

                </p>
            </div>

            <p><a href="#">Sign up for another MOT reminder</a></p>
         </div>
    </div>
</main>

{% endblock %}


