{% extends "layout.html" %}

{% block bar_heading %}
  Report MOT fraud
{% endblock %}
{% block content %}

<main id="content" role="main">

<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge" style="margin:5px 0 5px 0px;">Thank you</h1>
        <h2 style="font-size: 36px; margin:5px 0 5px 0px;">Your report has been sent
        </h2>
      </div>

      <h2 class="heading-medium">What happens next</h2>

      <p>DVSA will investigate this report and decide on the best course of action.</p>

<p>Investigations can take time and we can’t give updates on individual cases.</p>

<p>You don’t need to do anything else.</p>

<p><a href="http://www.gov.uk/">Continue to GOV.UK</a></p>

    </div>
  </div>

</main>

{% endblock %}
