{% extends "layout.html" %}

{% block page_title %}
  MOT testing service
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          You have signed in without your security card
        </h1>
      </div>
        <form action="order-card-start" method="post" class="form">
          <h2 class="heading-medium">What happens next</h2>
                <p class="lede">You have <strong class="bold">5</strong> days remaining before you will be unable to sign in without a security card.</p>
                    
                <p>You need a security card to access the full MOT testing service and to make your account more secure.</p>
                <p>If your card is lost or damaged, then <a href="../order-card-start.html">order a new security card</a>. You can also order one later from your profile.</p>

            <a class="button" href="home">Continue to home</a>
        </form>
    </div>
  </div>

</main>

{% endblock %}