
{% extends "layout.html" %}

{% block page_title %}
  NISSAN QASHQAI - Check MOT history
{% endblock %}

{% block bar_heading %}
  Check MOT history
{% endblock %}

{% block content %}

<style type="text/css">
    @media (min-width: 641px) {
        .related {
            border-top: 1px solid #bfc1c3
        }
        }
        .related-item {
            padding-top: 1em
        }
        .related-item__title {
            font-family: "nta", Arial, sans-serif;
            font-weight: 700;
            text-transform: none;
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 0.5em
        }

        @media (min-width: 641px) {
        .related-item__title {
            font-size: 19px;
            line-height: 1.31579
        }
        }
        .related-item__description {
            margin-bottom: 0.5em
        }
        .related-item__list {
            font-family: "nta", Arial, sans-serif;
            font-weight: 400;
            text-transform: none;
            font-size: 14px;
            line-height: 1.14286;
            list-style: none
        }

        @media (min-width: 641px) {
        .related-item__list {
            font-size: 16px;
            line-height: 1.25
        }
        }
        .related-item__list-item {
            margin-bottom: 0.5em
        }
        .related-item__email-link {
            padding-left: 30px;
            font-weight: bold;
            background: url(https://assets.publishing.service.gov.uk/service-manual-frontend/mail-icon-x2-875fea8b0999065a033d6d6f952eb6cb8f43507629d6ea4f7992dcc4eaed2cb9.png) 5px 40% no-repeat;
            background-size: 20px 14px
        }
</style>

<main id="content" role="main"> <a class="link-back" href="enter-reg">Back</a>
    <h1 class="heading-xlarge" style="margin-bottom: 20px;"> <span class="heading-secondary">EJ13YLS</span>NISSAN QASHQAI</h1>
    <p><a href="#">Check another vehicle</a></p>
    <div class="grid-row">
        <div class="column-quarter">
            <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size: 1.05em;">Colour </span>White</h1>
        </div>
        <div class="column-quarter">
            <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size: 1.05em;">Fuel type </span>Petrol</h1>
        </div>
        <div class="column-quarter">
            <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size: 1.05em;">Year of manufacture </span>2013 (13 reg)</h1>
        </div>
    </div>
    <br>
    <h1 class="heading-large" style="margin-top: 0px;"> <span class="heading-secondary">MOT valid until</span> 9 June 2019

</h1>
    <p><a href="/reminders/v1/index">Get an MOT reminder</a> by email or text</p>

    <p>If you think the MOT expiry date or any of the vehicle details are wrong, <a href="">contact DVSA</a></p>

    <!--<br>
    <a class="button" href="">Check another vehicle</a>
    <br>
    <br>-->

    <!-- ACCORDION START-->

    <div class="js-hidden" data-module="accordion-with-descriptions">
        <div class="subsection-wrapper">

            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="designing-government-services">MOT history</h2>
                <p class="subsection__description">Mileage recorded at test, parts failed or had minor problems</p>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_0">

                <!-- test start -->

                <div class="grid-row">
                    <div class="column-third">
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 10 June 2018 </h1>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                    </div>
                    <div class="column-two-thirds">
                        <div class="grid-row">
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 29,611 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size: 1.05em;">Expiry date</span> 9 June 2019 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> unavailable until further notice</h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 3995 7555 7274 </h1>
                            </div>
                        </div>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Repair as soon as possible (minor defects):</span>
                            <ul class="list list-bullet">
                                <li>Electronic stability system component repaired but not inappropriately [3.4.4]</li>
                                <li>Body has slight corrosion [6.1.B.2]</li>
                                <li>Offside front track rod end ball joint dust cover deteriorated, but preventing ingress
                                of dirt [2.2.c.1c]</li>
                            </ul>
                        </h1>

                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Monitor and repair if necessary (advisories):</span>
                            <ul class="list list-bullet">
                                <li>Child seat fitted not allowing full inspection of adult belt</li>
                                <li>Drive shaft which forms part of the suspension support bearing slightly worn </li>
                                <li>Engine bay obscured by covers</li>
                            </ul>
                        </h1>
                    </div>
                </div>

                <!-- test end -->
                  
                  <hr>

                <!-- test start -->
                <div class="grid-row">
                    <div class="column-third">
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 10 June 2018 </h1>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #B10E1E;">FAIL</h1>
                    </div>
                    <div class="column-two-thirds">
                        <div class="grid-row">
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 29,611 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 5864 4990 1701 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> unavailable until further notice</h1>
                            </div>
                        </div>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Do not drive until repaired (dangerous defects):</span>
                            <ul class="list list-bullet">
                              <li>Brake lining or pad missing or incorrectly mounted [1.1.13 c]</li>
                                <li>Brakes imbalance across an axle such that the braking effort from any
                                    wheel is less than 50% of the maximum effort recorded from the other
                                    wheel on a steered axle [1.2.1 b]</li>
                                <li>Steering gear casing  fixing holes in chassis elongated to the extent that
                                    attachment is seriously affected [2.1.2 b]</li>


                            </ul>
                        </h1>

                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Repair immediately (major defects):</span>
                            <ul class="list list-bullet">
                                <li>Relative movement between steering wheel and column indicating looseness [2.2.1 a]</li>
                                <li>Windscreen or window damaged or seriously discoloured and affecting the driver’s view of the road or of an obligatory external mirror [3.2 a]</li>
                            </ul>
                        </h1>
                    </div>
                </div>

                <!-- test end -->

                  
                <div class="panel panel-border-wide text" style="margin-top:30px; margin-bottom:30px;">
                    <h4 class="headng-small" style="font-weight: bold;">The MOT test changed on 20 May 2018</h4>  
                        <p>
                            We’ve changed how the defects are categorised. The MOT test has changed in all EU countries, so that all vehicles will meet the same safety standards.
                        </p>
                </div>

                <!-- test start -->
                <div class="grid-row">
                    <div class="column-third">
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 27 May 2017 </h1>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                    </div>
                    <div class="column-two-thirds">
                        <div class="grid-row">
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 27,815 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Expiry date</span> 27 May 2018 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> unavailable until further notice</h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 3766 9868 0212 </h1>
                            </div>
                        </div>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>
                            <ul class="list list-bullet">
                                <li>Offside Front Track rod end ball joint has slight play (2.2.B.1f)</li>
                                <li>Rear spare wheel slight loose</li>
                            </ul>
                        </h1>
                        <div class="form-group">
                            <details>
                                <summary><span class="summary">What are advisories?</span></summary>
                                <div class="panel panel-border-narrow">

                                    <p> Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>
                                </div>
                            </details>
                        </div>

                    </div>
                </div>

                <!-- test end -->

                <hr>

                <!-- test start -->
                <div class="grid-row">
                    <div class="column-third">
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 25 May 2016 </h1>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                    </div>
                    <div class="column-two-thirds">
                        <div class="grid-row">

                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 23,715 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Expiry date</span> 27 May 2017 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> unavailable until further notice</h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 3766 9868 0212 </h1>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- test end -->

                <hr>
                  
                <!-- test start -->
                <div class="grid-row">
                    <div class="column-third">
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 25 May 2016 </h1>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #B10E1E;">FAIL</h1>
                    </div>
                    <div class="column-two-thirds">
                        <div class="grid-row">

                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 23,715 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 6089 3168 4252 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> unavailable until further notice</h1>
                            </div>
                        </div>
                            <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Reasons for failure:</span>
                            <ul class="list list-bullet">
                                <li>Nearside Rear Stop lamp not working (1.2.1b)</li>
                                <li>Nearside Front Track rod end ball joint has excessive play (2.2.B.1f)</li>
                            </ul>
                        </h1>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>
                            <ul class="list list-bullet">
                                <li>Nearside Front Tyre worn close to the legal limit (4.1.E.1)</li>
                            </ul>
                        </h1>
                        <div class="form-group">
                            <details>
                                <summary><span class="summary">What are failures and advisories?</span></summary>
                                <div class="panel panel-border-narrow">
                                    <p>Failure items must be fixed before the vehicle can pass its MOT.</p>
                                    <p> Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>
                                </div>
                            </details>
                        </div>

                    </div>
                </div>

                <!-- test end -->

                <hr>

                <!-- test start -->
                <div class="grid-row">
                    <div class="column-third">
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 12 May 2015 </h1>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                    </div>
                    <div class="column-two-thirds">
                        <div class="grid-row">
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 21,394 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Expiry date</span> 11 May 2016 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> unavailable until further notice</h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 6053 6283 5134 </h1>
                            </div>
                        </div>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>
                            <ul class="list list-bullet">
                                <li>Nearside Track rod end ball joint has slight play (2.2.B.1f)</li>
                            </ul>
                        </h1>
                        <div class="form-group">
                            <details>
                                <summary><span class="summary">What are advisories?</span></summary>
                                <div class="panel panel-border-narrow">

                                    <p> Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>
                                </div>
                            </details>
                        </div>

                    </div>
                </div>

                <!-- test end -->

                <hr>

                <!-- test start -->
                <div class="grid-row">
                    <div class="column-third">
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 26 March 2014 </h1>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                    </div>
                    <div class="column-two-thirds">
                        <div class="grid-row">
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 18,319 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Expiry date</span> 10 April 2015 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> unavailable until further notice</h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 1050 7518 4032 </h1>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- test end -->

                <hr>

                <!-- test start -->
                <div class="grid-row">
                    <div class="column-third">
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Date tested</span> 9 April 2013 </h1>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #28a197;">PASS</h1>
                    </div>
                    <div class="column-two-thirds">
                        <div class="grid-row">
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Mileage</span> 11,723 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Expiry date</span> 10 April 2014 </h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Test location</span> unavailable until further notice</h1>
                            </div>
                            <div class="column-one-half">
                                <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">MOT test number</span> 1479 2969 3048 </h1>
                            </div>
                        </div>
                        <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;"> <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>
                            <ul class="list list-bullet">
                                <li>Parking brake lever has little reserve travel (3.1.6b)</li>
                                <li>Items removed from driver's view prior to test</li>
                            </ul>
                        </h1>
                        <div class="form-group">
                            <details>
                                <summary><span class="summary">What are advisories?</span></summary>
                                <div class="panel panel-border-narrow">
                                    <p> Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>
                                </div>
                            </details>
                        </div>
                        <!-- <div class="form-group">
                            <details>
                                <summary><span class="summary">What are advisories?</span></summary>
                                <div class="panel panel-border-narrow">
                                    <p> Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>
                                </div>
                            </details>
                        </div> -->
                    </div>
                </div>

              </div>
            </div>

            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="working-with-patterns">Outstanding vehicle recalls</h2>
                <p class="subsection__description">Check if Nissan Qashqai EJ13YLS has outstanding safety recall</p>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_2">
                <div class="text">
                    <h1 class="heading-large" style="margin-top: 15px; color: #B10E1E;">Outstanding recall found</h1>

                    <p>As of <span class="bold">17 September 2017</span> there's an outstanding manufacturer's safety recall on <span class="bold">Nissan Qashqai EJ13YLS</span>.</p>
                    <p>Contact a Nissan dealership to arrange for repairs.</p>
                    <p>If you've had the recalled component repaired recently, it can take up to three weeks for the manufacturer to update their records.</p>
                </div>
              </div>
            </div>

        </div>

    <!--   ACCORDION END -->

    </div>

</main>
{% endblock %}