{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}
	<nav id="proposition-menu">
	  <a href="/" id="proposition-name">Mallory Archer (aedm)</a>
	  <ul id="proposition-links">
	    <li><a href="url-to-page-1">Home</a></li>
	    <li><a href="url-to-page-2">Your profile</a></li>
	    <li><a href="url-to-page-2">Sign out</a></li>
	  </ul>
	</nav>
{% endblock %}

{% block content %}

<style type="text/css">
.inline-element {
    clear: right;
    padding-right: 45px;
}
.inline-element:last-child {
    padding-right: initial;
}
.key-value-list__header {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.1111111111;
	font-weight: 700;
	text-transform: none;
	margin-top: 1.04167em
}

@media (max-width: 640px) {
.key-value-list__header {
	font-size: 24px;
	line-height: 1.0416666667;
}
}

@media (min-width: 641px) {
.key-value-list__header {
	margin-top: 1.25em;
}
}
.key-value-list {
	margin-top: 30px
}
.key-value-list__key, .key-value-list__value, .key-value-list__value--numeric, .key-value-list__value--muted {
	width: 50%
}
.key-value-list__value {
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.3157894737;
	font-weight: 700;
	text-transform: none;
	padding-left: 15px
}

@media (max-width: 640px) {
.key-value-list__value {
	font-size: 16px;
	line-height: 1.25;
}
}
.key-value-list__item-action {
	padding-left: 15px
}
.key-value-list__value--numeric {
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.3157894737;
	font-weight: 700;
	text-transform: none;
	padding-left: 15px;
	letter-spacing: 0.03em
}

@media (max-width: 640px) {
.key-value-list__value--numeric {
	font-size: 16px;
	line-height: 1.25;
}
}
.key-value-list__value--muted {
	color: #6f777b;
	padding-left: 15px
}
.key-value-list__meta {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	color: #6f777b;
	display: block
}

@media (max-width: 640px) {
.key-value-list__meta {
	font-size: 14px;
	line-height: 1.1428571429;
}
}
.result-table__meta {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	color: #6f777b;
	display: block
}
.table-caption {
	text-align: left;
}
.content-navigation {
    margin-top: 30px;
}
.object-svg {
	display: block;
	margin-bottom: 30px;
}
.data-wrapper {
	margin-top: 30px;
	margin-bottom: 15px;
}
.data-item.bold-large {
	padding-bottom: 8px;
}
.line-break {
	display: block;
}
.text-center {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 90px;
	padding-top: 30px;
	padding-bottom: 60px;
}
.download-block {
	margin-bottom: 60px;
}
</style>

<main id="content" role="main">

	<div class="breadcrumbs">
	  <ol>
	    <li><a href="/">Home</a></li>
	    <li><a href="/#">Venture Industries</a></li>
	    <li><a href="/#">John's Garage</a></li>
	    <li>Test quality information</li>
	  </ol>
	</div>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Vehicle Testing Station</span>
		Test quality information
      </h1>{{releaseVersion | log }}
		<p class="lede text">This information will help you manage the quality of testing at your site. How you use it will depend on how you manage the site, its size and number of staff.</p>
      	<h2 class="heading-medium">Tests done in April 2017</h2>
  		<form action="/gqr/gqr-vts-tqi-6-months-loading" method="get">
      		<h2 class="heading-medium">Choose a date range</h2>
			<fieldset>

				<legend class="visually-hidden">Choose a date range</legend>
				<div class="form-group">
				    <div class="multiple-choice inline-element">
				      <input id="radio-1" type="radio" name="radio-group" value="Last month" checked="checked">
				      <label for="radio-1">Last month</label>
				    </div>
				    <div class="multiple-choice inline-element">
				      <input id="radio-2" type="radio" name="radio-group" value="Last 3 months">
				      <label for="radio-2">Last 3 months</label>
				    </div>
				    <div class="inline-element"><input type="submit" class="button" value="Update results"></div>
				</div>

			</fieldset>
		</form>
		
		<h3 class="key-value-list__header">
			Group A
			<span class="key-value-list__meta">Class 1 and 2</span>
      	</h3>
      	<div class="grid-row data-wrapper">
      		<div class="column-one-quarter">
				<div class="data">
					<span class="data-item bold-xxlarge">0</span>
					<span class="data-item bold-xsmall">initial tests done</span>
				</div>
			</div>
			<div class="column-one-quarter">
				<div class="data">
					<span class="data-item bold-large">No data <span class="line-break">available</span></span>
					<span class="data-item bold-xsmall">average vehicle age</span>
				</div>
			</div>
			<div class="column-one-quarter">
				<div class="data">
					<span class="data-item bold-large">No data <span class="line-break">available</span></span>
					<span class="data-item bold-xsmall">average test time</span>
				</div>
			</div>
			<div class="column-one-quarter">
				<div class="data">
					<span class="data-item bold-xxlarge">0%</span>
					<span class="data-item bold-xsmall">initial tests failed</span>
				</div>
			</div>
		</div>
		
      	<table>
			<thead>
				<tr>
					<th scope="col">Tester</th>
					<th class="numeric" scope="col">Tests done</th>
					<th class="numeric" scope="col">Average vehicle age</th>
					<th class="numeric" scope="col">Average test time</th>
					<th class="numeric" scope="col">Tests failed</th>
					<th class="numeric" scope="col">Failures by category</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Bob Thomas Arctor <span class="key-value-list__meta">ARCT0003</span></th>
					<td class="numeric">0</td>
					<td class="numeric">-</td>
					<td class="numeric">-</td>
					<td class="numeric">0%</td>
					<td class="numeric"><a href="#">View</a></td>
				</tr>
				<tr>
					<th scope="row">National average</th>
					<td class="numeric">9</td>
					<td class="numeric">14y</td>
					<td class="numeric">37m</td>
					<td class="numeric">42%</td>
					<td class="numeric"></td>
				</tr>
			</tbody>
		</table>
		<div class="text download-block">
			<h2 class="heading-medium">Download Group A data</h2>
			<p><a href="">Download the site and tester Group A report as a CSV (spreadsheet) file (198kb)</a></p>
			
			<details>
			  <summary><span class="summary">What's in this file?</span></summary>
			  <div class="panel panel-border-narrow">
			    <p>This file contains:</p>
				<ul class="list list-bullet">
					<li>test quality information for all Group A testers associated to the site over the date range selected</li>
					<li>all Group A testers failures by category over the date range selected</li>
				</ul>
			  </div>
			</details>

		</div>

		<h3 class="key-value-list__header">
			Group B
			<span class="key-value-list__meta">Class 3, 4, 5 and 7</span>
      	</h3>
      	<div class="grid-row data-wrapper">
      		<div class="column-one-quarter">
				<div class="data">
					<span class="data-item bold-xxlarge">151</span>
					<span class="data-item bold-xsmall">initial tests done</span>
				</div>
			</div>
			<div class="column-one-quarter">
				<div class="data">
					<span class="data-item bold-xxlarge">11y<span class="visually-hidden">ear</span></span>
					<span class="data-item bold-xsmall">average vehicle age</span>
				</div>
			</div>
			<div class="column-one-quarter">
				<div class="data">
					<span class="data-item bold-xxlarge">36m<span class="visually-hidden">inute</span></span>
					<span class="data-item bold-xsmall">average test time</span>
				</div>
			</div>
			<div class="column-one-quarter">
				<div class="data">
					<span class="data-item bold-xxlarge">37%</span>
					<span class="data-item bold-xsmall">initial tests failed</span>
				</div>
			</div>
		</div>
		
      	<table>
			<thead>
				<tr>
					<th scope="col">Tester</th>
					<th class="numeric" scope="col">Tests done</th>
					<th class="numeric" scope="col">Average vehicle age</th>
					<th class="numeric" scope="col">Average test time</th>
					<th class="numeric" scope="col">Tests failed</th>
					<th class="numeric" scope="col">Failures by category</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Bob Thomas Arctor <span class="key-value-list__meta">ARCT0003</span></th>
					<td class="numeric">102</td>
					<td class="numeric">12y</td>
					<td class="numeric">35m</td>
					<td class="numeric">24%</td>
					<td class="numeric"><a href="gqr-tester-group-b-bob-thomas-arctor-tqi.html">View</a></td>
				</tr>
				<tr>
					<th scope="row">Pam Poovey <span class="key-value-list__meta">POOV0002</span></th>
					<td class="numeric">48</td>
					<td class="numeric">11y</td>
					<td class="numeric">38m</td>
					<td class="numeric">67%</td>
					<td class="numeric"><a href="#">View</a></td>
				</tr>
				<tr>
					<th scope="row">Lana Kane <span class="key-value-list__meta">KANE0035</span></th>
					<td class="numeric">0</td>
					<td class="numeric">-</td>
					<td class="numeric">-</td>
					<td class="numeric">0%</td>
					<td class="numeric"><a href="#">View</a></td>
				</tr>
				<tr>
					<th scope="row">National average</th>
					<td class="numeric">9</td>
					<td class="numeric">14y</td>
					<td class="numeric">37m</td>
					<td class="numeric">42%</td>
					<td class="numeric"></td>
				</tr>
			</tbody>
		</table>
		<div class="text download-block">
			<h2 class="heading-medium">Download Group B data</h2>
			<p><a href="">Download the site and tester Group B report as a CSV (spreadsheet) file (198kb)</a></p>
			<details>
			  <summary><span class="summary">What's in this file?</span></summary>
			  <div class="panel panel-border-narrow">
			    <p>This file contains:</p>
				<ul class="list list-bullet">
					<li>test quality information for all Group B testers associated to the site over the date range selected</li>
					<li>all Group B testers failures by category over the date range selected</li>
				</ul>
			  </div>
			</details>
		</div>

	<div class="text">
		<nav class="content-navigation">
			<p><a href="#">Return to Vehicle Testing Station</a></p>
		</nav>
  	</div>

</main>

{% endblock %}


