{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}
	<nav id="proposition-menu">
	  <a href="/" id="proposition-name">Bob Thomas Arctor (Tester)</a>
	  <ul id="proposition-links">
	    <li><a href="url-to-page-1">Home</a></li>
	    <li><a href="url-to-page-2">Your profile</a></li>
	    <li><a href="url-to-page-2">Sign out</a></li>
	  </ul>
	</nav>
{% endblock %}

{% block content %}

<style type="text/css">
.inline-element {
    clear: right;
    padding-right: 45px;
}
.inline-element:last-child {
    padding-right: initial;
}
.key-value-list__header {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.1111111111;
	font-weight: 700;
	text-transform: none;
	margin-top: 1.04167em
}

@media (max-width: 640px) {
.key-value-list__header {
	font-size: 24px;
	line-height: 1.0416666667;
}
}

@media (min-width: 641px) {
.key-value-list__header {
	margin-top: 1.25em;
}
}
.key-value-list {
	margin-top: 30px
}
.key-value-list__key, .key-value-list__value, .key-value-list__value--numeric, .key-value-list__value--muted {
	width: 50%
}
.key-value-list__value {
	font-family: "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.3157894737;
	font-weight: 700;
	text-transform: none;
	padding-left: 15px
}

@media (max-width: 640px) {
.key-value-list__value {
	font-size: 16px;
	line-height: 1.25;
}
}
.key-value-list__item-action {
	padding-left: 15px
}
.key-value-list__value--numeric {
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	font-size: 19px;
	line-height: 1.3157894737;
	font-weight: 700;
	text-transform: none;
	padding-left: 15px;
	letter-spacing: 0.03em
}

@media (max-width: 640px) {
.key-value-list__value--numeric {
	font-size: 16px;
	line-height: 1.25;
}
}
.key-value-list__value--muted {
	color: #6f777b;
	padding-left: 15px
}
.key-value-list__meta {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	color: #6f777b;
	display: block
}

@media (max-width: 640px) {
.key-value-list__meta {
	font-size: 14px;
	line-height: 1.1428571429;
}
}
.result-table__meta {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	color: #6f777b;
	display: block
}
.table-caption {
	text-align: left;
}
.content-navigation {
    margin-top: 30px;
}
.object-svg {
	display: block;
	margin-bottom: 30px;
}
.data-wrapper {
	margin-top: 30px;
	margin-bottom: 15px;
}
.data-item.bold-large {
	padding-bottom: 8px;
}
.line-break {
	display: block;
}
.text-center {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 90px;
	padding-top: 30px;
	padding-bottom: 60px;
}
.download-block {
	margin-bottom: 60px;
}
.column-one-quarter.column-one-fifth {
	width: 20%;
}
</style>

<main id="content" role="main">

      <h1 class="heading-xlarge">
		Performance dashboard
      </h1>{{releaseVersion | log }}

      	<p class="text">This dashboard shows information based on all initial MOT tests you have done.</p>
		<h3 class="key-value-list__header">
			Today’s summary
			<span class="key-value-list__meta">22 June</span>
      	</h3>
		<div class="grid-row data-wrapper">
      		<div class="column-one-quarter column-one-fifth">
				<div class="data">
					<span class="data-item bold-xlarge">3</span>
					<span class="data-item bold-xsmall">tests done</span>
				</div>
			</div>
			<div class="column-one-quarter column-one-fifth">
				<div class="data">
					<span class="data-item bold-xlarge">1</span>
					<span class="data-item bold-xsmall">test passed</span>
				</div>
			</div>
			<div class="column-one-quarter column-one-fifth">
				<div class="data">
					<span class="data-item bold-xlarge">2</span>
					<span class="data-item bold-xsmall">tests failed</span>
				</div>
			</div>
			</div>
		</div>

		<h3 class="key-value-list__header">
			Month to date
			<span class="key-value-list__meta">1 June to 22 June</span>
      	</h3>
		<div class="grid-row data-wrapper">
      		<div class="column-one-quarter column-one-fifth">
				<div class="data">
					<span class="data-item bold-xlarge">24</span>
					<span class="data-item bold-xsmall">tests done</span>
				</div>
			</div>
			<div class="column-one-quarter column-one-fifth">
				<div class="data">
					<span class="data-item bold-xlarge">12</span>
					<span class="data-item bold-xsmall">test passed</span>
				</div>
			</div>
			<div class="column-one-quarter column-one-fifth">
				<div class="data">
					<span class="data-item bold-xlarge">6</span>
					<span class="data-item bold-xsmall">tests failed</span>
				</div>
			</div>
			<div class="column-one-quarter column-one-fifth">
				<div class="data">
					<span class="data-item bold-xlarge">34m<span class="visually-hidden">inutes</span></span>
					<span class="data-item bold-xsmall">average test time</span>
				</div>
			</div>
			<div class="column-one-quarter column-one-fifth">
				<div class="data">
					<span class="data-item bold-xlarge">25%</span>
					<span class="data-item bold-xsmall">fail rate</span>
				</div>
			</div>
		</div>

		<div class="text">
			<h2 class="heading-medium"><a href="#">Test logs</a></h2>
			<p>View vehicle information and test details of MOT test you have done.</p>
			<h2 class="heading-medium"><a href="#">Test quality information</a></h2>
			<p>View and compare test data including the failures by category.</p>
		</div>

	<div class="text">
		<nav class="content-navigation">
			<p><a href="#">Back to home</a></p>
		</nav>
  	</div>

</main>

{% endblock %}


