{% extends "layout.html" %}

{% block page_title %}
  2FA - GOV.UK prototype
{% endblock %}

{% block service_name %}
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Rochell Emilie Tomaselli (SITE MNGR)</a>
      <ul id="proposition-links">
        <li><a href="url-to-page-1">Home</a></li>
        <li><a href="url-to-page-2">Your profile</a></li>
        <li><a href="url-to-page-2">Sign out</a></li>
      </ul>
    </nav>
{% endblock %}


{% block content %}

<link href="https://ci.test.mot-testing.service.gov.uk/assets/stylesheets/dvsa.css" media="screen" rel="stylesheet" />

<style type="text/css">
.c-mailbox-status a {
    text-decoration: none;
}
</style>

<div class="phase-banner" style="margin: 0 auto; width: 960px;">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
</div>


<main id="content">

    <div class="container">
        <!-- Breadcrumbs -->
        <div id="global-breadcrumb" class="header-context">
            <nav>
                <ol class="group">
                    <li id="breadcrumb-0"><a href="/">Home</a></li>
                    <li id="breadcrumb-1"><a href="&#x2F;authorised-examiner&#x2F;93699">WILLETTA AREDONDO</a></li>
                    <li id="breadcrumb-2">VTS079774</li>
                </ol>
            </nav>
        </div>

<!-- END -->

    <div class="grid-row">

        <div class="column-two-thirds">

                    <!-- Titles -->
            <header class="content-header">
                <h1>
                    <span class="content-header__type">Vehicle Testing Station</span>
                    <span class="content-header__title">Change testing facilities</span>
                </h1>
                <h2>
                    <span class="content-header__tertiary">4, Ptarmigan Street, Bishop`s Waltham, Hampshire, England, Hampshire, SW19 2SA</span>
                </h2>
                </header>                <!-- END -->

                <div class="row contents">
                    <div class="col-lg-12">

                        <h3 class="summary-heading">Test lanes</h3>
                        <table class="table-summary">

                            <tbody>
                                <tr>
                                <th class="table-summary__key">
                                    Two Person Test Lane (TPTL)
                                </th>
                                <td class="table-summary__value">
                                    <span>2</span><a href="/vehicle-testing-station/79774/name/change" class="table-summary__action" title="Change Name" id="site-name-change">Change<span class="visuallyhidden"> Name</span>
                                    </a>
                                </td>
                                </tr>
                            </tbody>
                        </table>

                        <h3 class="summary-heading">Connected equipment</h3>
                        <p><a href="">Add a piece</a></p>
                        <table class="table-summary">

                            <tbody>
                                    <tr>
                                        <td class="table-summary__value"><span style="font-weight: bold;">BM7010</span><br />
                                            43:51:43:a1:b5:fc:8b:b7:0a:3a:a9:b1:0f:66:73:a8
                                        </td>
                                        <td class="table-summary__value">
                                            <a href="#" class="table-summary__action" title="Change">
                                            Change</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-summary__value"><span style="font-weight: bold;">BSA 4440 S40</span><br />
                                            61:08:b5:0a:11:c4:a1:b5:fc:8b:51:43:a1:b1:0f:66
                                        </td>
                                        <td class="table-summary__value">
                                            <a href="#" class="table-summary__action" title="Change">
                                            Change</a>
                                        </td>
                                    </tr>

                            </tbody>
                        </table>
<!-- end of paste -->

                        <nav class="content-navigation">
                            <ul class="content-navigation__secondary">
                                <li>
                                    <a id="search-again" class="btn-link" href="/vehicle-testing-station/search">Return to VTS information</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


                    </div>

                    <div class="column-third">


                    </div>

                </div>


        </div>
        <!-- /container -->
</main>

<footer class="group js-footer" id="footer">
    <div class="footer-wrapper">

        <div class="footer-categories">
            <div class="footer-resources--two-thirds">
                <h2 class="footer-resources__header">Resources on GOV.UK</h2>
                <ul>
                    <li>
                        <a id="resources_0" href="https://www.gov.uk/government/publications/motorcycle-mot-inspection-checklist-vt-29m">
                            Motorcycle inspection checklist for class 1 and 2 (VT29M)</a>
                            </li>
                    <li>
                        <a id="resources_1" href="https://www.gov.uk/government/publications/mot-inspection-checklist-vt-29">
                            Vehicle inspection checklist for class 3, 4, 5 and 7 (VT29)</a>
                            </li>
                    <li>
                        <a id="resources_2" href="https://www.gov.uk/government/publications/in-service-exhaust-emission-standards-for-road-vehicles">
                            In service exhaust emission standards for road vehicles</a>
                            </li>
                    <li>
                        <a id="resources_3" href="https://www.gov.uk/topic/mot/manuals#special-notices">
                            Special notices</a>
                            </li>
            </ul>
            </div>
            <div class="footer-resources--one-third">
                <h2 class="footer-resources__header">MOT manuals and guide</h2>
                <ul>
                    <li>
                        <a id="manuals_0" href="#" target="_blank">
                                Manual for class 1 and 2 vehicles</a>
                        </li>
                            <li>
                            <a id="manuals_1" href="#" target="_blank">
                                Manual for class 3, 4, 5, and 7 vehicles</a>
                        </li>
                            <li>
                            <a id="manuals_2" href="https://www.gov.uk/government/publications/mot-testing-guide" target="_blank">
                                MOT testing guide </a>
                        </li>
                    </ul>
            </div>
            <hr>
        </div>

{% endblock %}
