{% extends "layout.html" %}

{% block page_title %}
  2FA - GOV.UK prototype
{% endblock %}

{% block service_name %}
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Rochell Emilie Tomaselli (SITE MNGR)</a>
      <ul id="proposition-links">
        <li><a href="url-to-page-1">Home</a></li>
        <li><a href="url-to-page-2">Your profile</a></li>
        <li><a href="url-to-page-2">Sign out</a></li>
      </ul>
    </nav>
{% endblock %}


{% block content %}

<link href="https://ci.test.mot-testing.service.gov.uk/assets/stylesheets/dvsa.css" media="screen" rel="stylesheet" />

<style type="text/css">
.c-mailbox-status a {
    text-decoration: none;
}
</style>

<div class="phase-banner" style="margin: 0 auto; width: 960px;">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
</div>


<main id="content">

    <div class="container">


        <!-- Breadcrumbs -->
                    <div id="global-breadcrumb" class="header-context">
    <nav>
        <ol class="group">
            <li id="breadcrumb-0"><a href="/">Home</a></li>

                            <li id="breadcrumb-1">
                                            <a href="&#x2F;authorised-examiner&#x2F;93699">WILLETTA AREDONDO</a>
                                    </li>
                            <li id="breadcrumb-2">
                                            VTS079774                                    </li>
                    </ol>
    </nav>
</div>
                <!-- END -->


            <div class="grid-row">

                <div class="column-two-thirds">


                <!-- Titles -->
                    <header class="content-header">
    <h1>
        <span class="content-header__type">Vehicle Testing Station</span>
        <span class="content-header__title">VTS079774</span>
            </h1>
                        <h2>
                <span class="content-header__tertiary">4, Ptarmigan Street, Bishop`s Waltham, Hampshire, England, Hampshire, SW19 2SA</span>
            </h2>
            </header>                <!-- END -->

                    <div class="row contents">
                <div class="col-lg-12">
                    <!-- lede   -->
                                        <!-- end    -->





<h3 class="summary-heading">Site details</h3>

<table class="table-summary">

    <tbody>
                        <tr>
                <th class="table-summary__key">
                    Name                </th>
                                <td class="table-summary__value">
                    <span id="site-name">
                        VTS079774                    </span>
                                    <a href="/vehicle-testing-station/79774/name/change" class="table-summary__action" title="Change Name" id="site-name-change">Change<span class="visuallyhidden"> Name</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    VTS ID                </th>
                                <td class="table-summary__value">
                    <span id="site-number">
                        VTS079774                    </span>
                                                    </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Classes                </th>
                                <td class="table-summary__value">
                    <span id="site-classes">
                        4,7                    </span>
                                    <a href="/vehicle-testing-station/79774/classes/change" class="table-summary__action" title="Change Classes" id="site-classes-change">Change<span class="visuallyhidden"> Classes</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Type                </th>
                                <td class="table-summary__value">
                    <span id="site-type">
                        Vehicle Testing Station                    </span>
                                    <a href="/vehicle-testing-station/79774/type/change" class="table-summary__action" title="Change Type" id="site-type-change">Change<span class="visuallyhidden"> Type</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Authorised Examiner                </th>
                                <td class="table-summary__value">
                    <span id="authorisedExaminer">
                        <a id="authorised-examiner-link" href="/authorised-examiner/93699">WILLETTA AREDONDO</a>                    </span>
                                                    </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Status                </th>
                                <td class="table-summary__value">
                    <span id="site-status">
                        Approved                    </span>
                                    <a href="/vehicle-testing-station/79774/status/change" class="table-summary__action" title="Change Status" id="site-status-change">Change<span class="visuallyhidden"> Status</span>
                    </a>                </td>
            </tr>
                </tbody>
</table>
<h3 class="summary-heading">Contact details</h3>

<table class="table-summary">

    <tbody>
                        <tr>
                <th class="table-summary__key">
                    Address                </th>
                                <td class="table-summary__value">
                    <span id="site-address">
                        4, Ptarmigan Street,<br />Bishop`s Waltham,<br />Hampshire,<br />England,<br />Hampshire,<br />SW19 2SA                    </span>
                                    <a href="/vehicle-testing-station/79774/address/change" class="table-summary__action" title="Change Address" id="site-address-change">Change<span class="visuallyhidden"> Address</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Country                </th>
                                <td class="table-summary__value">
                    <span id="site-country">
                        England                    </span>
                                    <a href="/vehicle-testing-station/79774/country/change" class="table-summary__action" title="Change Country" id="site-country-change">Change<span class="visuallyhidden"> Country</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Email                </th>
                                <td class="table-summary__value">
                    <span id="email">
                        success+alvera.inglish.390175@simulator.amazonses.com                    </span>
                                    <a href="/vehicle-testing-station/79774/email/change" class="table-summary__action" title="Change Email" id="email-change">Change<span class="visuallyhidden"> Email</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Telephone                </th>
                                <td class="table-summary__value">
                    <span id="phone-number">
                        03226840000                    </span>
                                    <a href="/vehicle-testing-station/79774/phone/change" class="table-summary__action" title="Change Telephone" id="phone-number-change">Change<span class="visuallyhidden"> Telephone</span>
                    </a>                </td>
            </tr>
                </tbody>
</table>
<h3 class="summary-heading">Roles
            <span class="summary-heading__action">
        <a id="assign-a-role"
           href="/vehicle-testing-station/79774/search-for-person">
            Assign a role
        </a>
    </span>
    </h3>
<table class="table-summary">
    <tbody>
            <tr id="role-assignment-804764-TESTER">
            <th class="table-summary__key">

                    <a href="/vehicle-testing-station/79774/user/804764">
                        Adrianna Kenna Kucek(KUCE6924)                    </a>
                            </th>
            <td class="table-summary__value">
                Tester                                                    <a class="table-summary__action" href="/vehicle-testing-station/79774/remove-role/243872">Remove</a>
                    <span class="visuallyhidden">Adrianna Kenna Kucek</span>
                            </td>
        </tr>
            <tr id="role-assignment-830354-TESTER">
            <th class="table-summary__key">

                    <a href="/vehicle-testing-station/79774/user/830354">
                        Coreen Ming Giambalvo(GIAM2595)                    </a>
                            </th>
            <td class="table-summary__value">
                Tester                                                    <a class="table-summary__action" href="/vehicle-testing-station/79774/remove-role/264970">Remove</a>
                    <span class="visuallyhidden">Coreen Ming Giambalvo</span>
                            </td>
        </tr>
            <tr id="role-assignment-804764-SITE-MANAGER">
            <th class="table-summary__key">

                    <a href="/vehicle-testing-station/79774/user/804764">
                        Adrianna Kenna Kucek(KUCE6924)                    </a>
                            </th>
            <td class="table-summary__value">
                Site manager                                                    <a class="table-summary__action" href="/vehicle-testing-station/79774/remove-role/1003585">Remove</a>
                    <span class="visuallyhidden">Adrianna Kenna Kucek</span>
                            </td>
        </tr>
            <tr id="role-assignment-795520-TESTER">
            <th class="table-summary__key">

                    <a href="/vehicle-testing-station/79774/user/795520">
                        Carolyne Margery Brogden(BROG7653)                    </a>
                            </th>
            <td class="table-summary__value">
                Tester                                                    <a class="table-summary__action" href="/vehicle-testing-station/79774/remove-role/1030393">Remove</a>
                    <span class="visuallyhidden">Carolyne Margery Brogden</span>
                            </td>
        </tr>
        </tbody>
</table>

<h3 class="summary-heading">Site assessment</h3>

<table class="table-summary">
    <tbody>
        <tr>
        <th class="table-summary__key">Current</th>
        <td class="table-summary__value">


            <span class="badge--success">Green</span>            <span class="text-secondary text-secondary--spaced-8">
                Score: 230.70            </span>
                            <span class="text-secondary">
                    Date: 29 December 2017                </span>
                    </td>
    </tr>

    </tbody>
</table>

    <h3 class="summary-heading">Active MOT tests</h3>
    <table class="table-summary">
        <tbody>
                        <tr id="site-active-mot-test-link-622587053985">
                    <th class="table-summary__key">
                        Coreen Ming Giambalvo                    </th>
                    <td class="table-summary__value">
                        <a href="/mot-test/622587053985/short-summary">
                            HY63JCB                        </a>
                        <br>
                    <span class="table-summary__meta">
                        FORD, TRANSIT                    </span>
                    </td>
                </tr>
                            </tbody>
    </table>

<h3 class="summary-heading">Testing facilities
    <span class="summary-heading__action"><a id="change-testing-facilities"
       href="change-testing-facilities"
        >Change testing facilities</a>
    </span>
</h3>

<table class="table-summary">
    <tbody>
        <tr>
            <th class="table-summary__key">Two Person Test Lane (TPTL)</th>
            <td class="table-summary__value&#x20;testing-facility-tptl">2</td>
        </tr>
        <tr>
            <th class="table-summary__key">BM 7010</th>
            <td class="table-summary__value&#x20;testing-facility-tptl">off-line</td>
        </tr>
        <tr>
            <th class="table-summary__key">BSA 4440 S40</th>
            <td class="table-summary__value&#x20;testing-facility-tptl">on-line</td>
        </tr>
    </tbody>
</table>

<h3 class="summary-heading">Default test settings
    <span class="summary-heading__action">
    <a id="configure-brake-test-defaults-link"
       href="/vehicle-testing-station/79774/configure-brake-test-defaults">
        Change default test settings
    </a>
    </span>
</h3>



<div id="opening-hours">
    <h3 class="summary-heading">Testing hours
            <span class="summary-heading__action">
        <a id="change-testing-hours"
           href="/vehicle-testing-station/79774/opening-hours/edit">
            Change testing hours
        </a>
        </span>
        </h3>
    <table class="table-summary">
        <tbody>
                    <tr>
                <th class="table-summary__key">
                    Monday                </th>
                <td id="monday-hours"
                    class="table-summary__value--tabular">
                    8:00am to 5:00pm                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Tuesday                </th>
                <td id="tuesday-hours"
                    class="table-summary__value--tabular">
                    8:00am to 5:00pm                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Wednesday                </th>
                <td id="wednesday-hours"
                    class="table-summary__value--tabular">
                    8:00am to 5:00pm                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Thursday                </th>
                <td id="thursday-hours"
                    class="table-summary__value--tabular">
                    8:00am to 5:00pm                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Friday                </th>
                <td id="friday-hours"
                    class="table-summary__value--tabular">
                    8:00am to 5:00pm                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Saturday                </th>
                <td id="saturday-hours"
                    class="table-summary__value--tabular">
                    8:00am to 1:00pm                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Sunday                </th>
                <td id="sunday-hours"
                    class="table-summary__value--tabular">
                    Closed                </td>
            </tr>
                </tbody>
        <tfoot>
        <tr>
            <td class="text-secondary" colspan="2">These times do not include bank holidays</td>
        </tr>
        </tfoot>
    </table>
</div>


<nav class="content-navigation">
    <ul class="content-navigation__secondary">

                    <li>
                                <a id="search-again" class="btn-link" href="/vehicle-testing-station/search">Return to search</a>

                            </li>
                <li>
            <a id="return-to-home" href="/">Return home</a>
        </li>
    </ul>
</nav>
                </div>
            </div>


                </div>

                <div class="column-third">


<div class="related">



            <ul class="related__status" >

                                    <li >
                        <span
                            class="badge--success">
                            Approved                        </span>
                        <strong>
                            Status                        </strong>
                                                                    </li>
                                    <li id="risk-assessment-score">
                        <span
                            class="badge--success">
                            Green                        </span>
                        <strong>
                            Site assessment                         </strong>
                                                    <br/>
                            <span
                                class="text-secondary">
                                Score: 230.7                            </span>
                                                                            <br/>
                            <span
                                id="risk-assessment-date"
                                class="text-secondary">
                                Date: 29 Dec 2017                            </span>
                                            </li>
                                    <li >
                        <span
                            class="badge--info">
                            1                        </span>
                        <strong>
                            Active MOT tests                        </strong>
                                                                    </li>

            </ul>





                    <div class="related__section" >
                <h2 class="related__section-title">Related</h2>

                <ul class="related__section-links">

                                            <li>
                                                        <a class=""
                                id="event-history"
                               href="&#x2F;event&#x2F;list&#x2F;site&#x2F;79774">
                                Events history                            </a>
                        </li>


                                            <li>
                                                        <a class=""
                                id="test-logs"
                               href="&#x2F;vehicle-testing-station&#x2F;79774&#x2F;mot-test-log">
                                Test logs                            </a>
                        </li>


                                            <li>
                                                        <a class=""
                                id="site-assessment-action-link"
                               href="&#x2F;vehicle-testing-station&#x2F;79774&#x2F;risk-assessment">
                                Site assessment                            </a>
                        </li>


                                            <li>
                                                        <a class=""
                                id="site-test-quality"
                               href="&#x2F;vehicle-testing-station&#x2F;79774&#x2F;test-quality">
                                Test quality information                            </a>
                        </li>


                                            <li>
                                                        <a class=""
                                id="testers-annual-assessment"
                               href="&#x2F;vehicle-testing-station&#x2F;79774&#x2F;testers-annual-assessment&#x3F;backTo&#x3D;vts-tester-assessments">
                                Testers annual assessment                            </a>
                        </li>



                </ul>
            </div>



</div>

                </div>

            </div>


    </div>
    <!-- /container -->
</main>

<footer class="group js-footer" id="footer">
    <div class="footer-wrapper">

        <div class="footer-categories">
            <div class="footer-resources--two-thirds">
                <h2 class="footer-resources__header">Resources on GOV.UK</h2>
                <ul>
                    <li>
                        <a id="resources_0" href="https://www.gov.uk/government/publications/motorcycle-mot-inspection-checklist-vt-29m">
                            Motorcycle inspection checklist for class 1 and 2 (VT29M)</a>
                            </li>
                    <li>
                        <a id="resources_1" href="https://www.gov.uk/government/publications/mot-inspection-checklist-vt-29">
                            Vehicle inspection checklist for class 3, 4, 5 and 7 (VT29)</a>
                            </li>
                    <li>
                        <a id="resources_2" href="https://www.gov.uk/government/publications/in-service-exhaust-emission-standards-for-road-vehicles">
                            In service exhaust emission standards for road vehicles</a>
                            </li>
                    <li>
                        <a id="resources_3" href="https://www.gov.uk/topic/mot/manuals#special-notices">
                            Special notices</a>
                            </li>
            </ul>
            </div>
            <div class="footer-resources--one-third">
                <h2 class="footer-resources__header">MOT manuals and guide</h2>
                <ul>
                    <li>
                        <a id="manuals_0" href="#" target="_blank">
                                Manual for class 1 and 2 vehicles</a>
                        </li>
                            <li>
                            <a id="manuals_1" href="#" target="_blank">
                                Manual for class 3, 4, 5, and 7 vehicles</a>
                        </li>
                            <li>
                            <a id="manuals_2" href="https://www.gov.uk/government/publications/mot-testing-guide" target="_blank">
                                MOT testing guide </a>
                        </li>
                    </ul>
            </div>
            <hr>
        </div>

{% endblock %}
