{% extends "layout.html" %}

{% block page_title %}
  MOT testing service
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          You have signed in without your security card
        </h1>
      </div>
        <form action="activate-card-start" method="post" class="form">
          <h2 class="heading-medium">What happens next</h2>
                <p class="lede">You need a security card to access the full MOT testing service and to make your account more secure.</p>
                <p>Next time you sign in, you will need to answer your security questions until you have you have activated your new card.</p>

                <p>If you have recieved your card you can activate it by following this link.</p>

            <input class="button" type="submit" value="Activate your security card"><br><br>
            <a href="#">Continue to home</a>
        </form>
    </div>
  </div>

</main>

{% endblock %}