{% extends "layout.html" %}

{% block page_title %}
  MOT testing service
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          You have signed in without your security card
        </h1>
      </div>
        <form action="activate-card-start" method="post" class="form">
          <h2 class="heading-medium">What happens next</h2>
                <p class="lede">You have <strong class="bold">5</strong> days remaining before you will be unable to sign in without a secuity card.</p>
                  
                <p>Next time you sign in, you will need to answer your security questions until you have you have activated your new card.</p>

                <p>If you have received your security card, you can activate it now, or later from your profile.</p>

            <h1 class="heading-small">
                Has your security card has arrived?
            </h1>
            <input class="button" style="margin-top: 15px" type="submit" value="Activate your security card"><br><br>
            <a href="home-page">Continue to home</a>
        </form>
    </div>
  </div>

</main>

{% endblock %}