{% extends "layout.html" %}

{% block bar_heading %}
  Get an annual MOT reminder
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div id="phase_banner_beta">  
    {% include "includes/phase_banner_beta.html" %}
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div>
                <h1 class="heading-xlarge">
                    One more step
                </h1>

                <p>
                    Check your inbox <b>({{ data['email']}})</b> and click the link in the email from GOV.UK to activate your MOT reminder.
                </p>

            </div>

         </div>
    </div>
</main>

{% endblock %}


