{% extends "layout.html" %}

{% block bar_heading %}
  Get an annual MOT reminder
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div id="phase_banner_beta">  
    {% include "includes/phase_banner_beta.html" %}
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div>
                <h1 class="heading-large">
                    One more step
                </h1>

                <p>
                    We sent SMS with 6 digit code to your number <span style="font-weight: bold;">{{ data['phone'] }}</span>. Enter this code in the field below to activate your reminder. 
                </p>

                <div class="panel panel-border-wide">
                    SMS didn't arrive in several minutes? <a href="#">Resend the SMS</a>.<br>
                    It can sometimes take several minutes for SMS to arrive.
                </div>


                <form action="signed-up-phone" method="get">
                    <div class="form-group">
                        <label for="code">Code from SMS</label>
                        <input type="text" name="code">
                    </div>

                    <p><input class="button" type="submit" href="your-details" value="Continue"></p>
                </form>

            </div>

         </div>
    </div>
</main>

{% endblock %}


