{% extends "layout.html" %}

{% block bar_heading %}
Get an annual MOT reminder
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div id="phase_banner_beta">  
    {% include "includes/phase_banner_beta.html" %}
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div>
        <h1 class="heading-large">
          Check your details
        </h1>

        <p>Make sure the vehicle and your mobile number are correct.</p>
      </div>


      <form action="confirm-your-phone" method="get" class="form">

        <div>
          <div>
            <h2 class="heading-medium">Vehicle details</h2>
          </div>

          <dl class="govuk-check-your-answers cya-questions-short">
            <div>
              <dt class="cya-question" style="font-weight: normal;">Registration number</dt>
              <dd class="cya-answer" style="text-transform: uppercase; font-weight: bold;">{{ data['VRM'] }}</dd>
              <dd class="cya-change"><a href="#">Change</a></dd>
            </div>    
            <div>
              <dt class="cya-question" style="font-weight: normal;">Make</dt>
              <dd class="cya-answer" style="font-weight: bold;">Vauxhall</dd>
              <dd class="cya-change"><a href="#"></a></dd>
            </div>    
            <div>
              <dt class="cya-question" style="font-weight: normal;">Model</dt>
              <dd class="cya-answer" style="font-weight: bold;">Astra</dd>
              <dd class="cya-change"><a href="#"></a></dd>
            </div> 
            <div>
              <dt class="cya-question" style="font-weight: normal;">Colour</dt>
              <dd class="cya-answer" style="font-weight: bold;">Black</dd>
              <dd class="cya-change"><a href="#"></a></dd>
            </div>    
            <div>
              <dt class="cya-question" style="font-weight: normal;">Year of manufacture</dt>
              <dd class="cya-answer" style="font-weight: bold;">2011</dd>
              <dd class="cya-change"><a href="#"></a></dd>
            </div>  

            <div>
              <dt class="cya-question" style="font-weight: normal;">MOT expiry date</dt>
              <dd class="cya-answer" style="font-weight: bold;">7 August 2018</dd>
              <dd class="cya-change"><a href="#"></a></dd>
            </div>    
          </dl>

          <br>
          <div class="form-group">
            <details>
              <summary><span class="summary">Incorrect vehicle details?</span></summary>
              <div class="panel panel-border-narrow">
                <p>
                  If you think any of the vehicle details or the MOT expiry date are wrong, <a href="">contact DVSA</a>

                </p>
              </div>
            </details>
          </div>



          <div>
            <h2 class="heading-medium">Your details</h2>
          </div>

          <dl class="govuk-check-your-answers cya-questions-short">
            <div>
              <dt class="cya-question" style="font-weight: normal;">Mobile number</dt>
              <dd class="cya-answer" style="font-weight: bold;">{{ data['phone'] }}</dd>
              <dd class="cya-change"><a href="#">Change</a></dd>
            </div>    
          </dl>
        </div>

        <div style="margin-top: 30px;"><p><input class="button" type="submit" value="Continue"></p></div>

      </form>


    </div>
  </div>
</main>

{% endblock %}


