{% extends "layout.html" %}

{% block bar_heading %}
  Get an annual MOT reminder
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div id="phase_banner_beta">  
      {% include "includes/phase_banner_beta.html" %}
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <form action="your-details" method="get" class="form">
                <a class="link-back" href="index">Back</a>
            
            <h1 class="heading-xlarge">
                What is your email address?
            </h1>
              
            <div class="form-group">
                <label for="email">Email address</label></br><span class="form-hint">Your reminder will be sent here</span>
                <input type="text" name="email" class="form-control">
            </div>   

            <p><input class="button" type="submit" href="your-details" value="Continue"></p>

            </form>

        </div>
    </div>
</main>

{% endblock %}


