{% extends "layout.html" %}

{% block page_title %}
  2FA - GOV.UK prototype
{% endblock %}

{% block service_name %}
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Bob Thomas Arctor (AEDM)</a>
      <ul id="proposition-links">
        <li><a href="url-to-page-1">Home</a></li>
        <li><a href="url-to-page-2">Your profile</a></li>
        <li><a href="url-to-page-2">Sign out</a></li>
      </ul>
    </nav>
{% endblock %}


{% block content %}

<link href="https://ci.test.mot-testing.service.gov.uk/assets/stylesheets/dvsa.css" media="screen" rel="stylesheet" />

<style type="text/css">
.c-mailbox-status a {
    text-decoration: none;
}
</style>

<div class="phase-banner" style="margin: 0 auto; width: 960px;">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
</div>
        <main id="content">

    <div class="container">

        
        <!-- Breadcrumbs -->
                    <div id="global-breadcrumb" class="header-context">
    <nav>
        <ol class="group">
            <li id="breadcrumb-0"><a href="/">Home</a></li>

                            <li id="breadcrumb-1">
                                            <a href="/authorised-examiner/798">CHERRY BUSSA</a>
                                    </li>
                            <li id="breadcrumb-2">
                                            <a href="/vehicle-testing-station/1084">Example Site</a>
                                    </li>
                            <li id="breadcrumb-3">
                                            Site review                                    </li>
                    </ol>
    </nav>
</div>
                <!-- END -->

        
                <!-- Titles -->
                    <header class="content-header">
    <h1>
        <span class="content-header__type">Vehicle Testing Station</span>
        <span class="content-header__title">Site review</span>
            </h1>
    </header>                <!-- END -->

                    <div class="row contents">
                <div class="col-lg-12">
                    <!-- lede   -->
                                        <!-- end    -->

                    
    <a id="site-assessment-action-link" href="site-assessment-enter.html" class="key-value-list__action">Enter site review</a>

<table class="key-value-list">
    <thead>
    <tr>
        <th class="" colspan="2">
    </th>
    </tr>
</thead><tbody>
                        <tr>
                <th class="key-value-list__key">
    Site review risk score</th>

<td id="risk-assessment-score" class="key-value-list__value key-value-list__value">
    <span id="risk-score-rag-status" class="label-value--green">Satisfactory</span></td>
            </tr>
                    <tr>
                <th class="key-value-list__key">
    DVSA examiner</th>

<td id="dvsa-examiner" class="key-value-list__value key-value-list__value">
    Janyce Tisa Amento<span class="key-value-list__meta">User ID: </span></td>
            </tr>
                    <tr>
                <th class="key-value-list__key">
    AE representative</th>

<td id="ae-representative" class="key-value-list__value key-value-list__value">
    Jacqueline Kalima, NT AE<span class="key-value-list__meta">User ID: KALI1927</span></td>
            </tr>
                    <tr>
                <th class="key-value-list__key">
    Tester</th>

<td id="tester" class="key-value-list__value key-value-list__value">
    Jacqueline Terese Kalima<span class="key-value-list__meta">User ID: KALI1927</span></td>
            </tr>
                    <tr>
                <th class="key-value-list__key">
    Date of assessment</th>

<td id="date-of-assessment" class="key-value-list__value key-value-list__value">
    1 March 2016</td>
            </tr>
            </tbody></table>
<nav class="content-navigation">
    <ul class="content-navigation__secondary">
        <li>
            <a href="/vehicle-testing-station/1084" id="returnDashboard" class="btn btn-primary">
                Return to VTS overview
            </a>
        </li>
    </ul>
</nav>




                </div>
            </div>
        
        
    </div>
    <!-- /container -->
</main>


       

<footer class="group js-footer" id="footer">
    <div class="footer-wrapper">

        <div class="footer-categories">
            <div class="footer-resources--two-thirds">
                <h2 class="footer-resources__header">Resources on GOV.UK</h2>
                <ul>
                    <li>
                        <a id="resources_0" href="https://www.gov.uk/government/publications/motorcycle-mot-inspection-checklist-vt-29m">
                            Motorcycle inspection checklist for class 1 and 2 (VT29M)</a>
                            </li>
                    <li>
                        <a id="resources_1" href="https://www.gov.uk/government/publications/mot-inspection-checklist-vt-29">
                            Vehicle inspection checklist for class 3, 4, 5 and 7 (VT29)</a>
                            </li>
                    <li>
                        <a id="resources_2" href="https://www.gov.uk/government/publications/in-service-exhaust-emission-standards-for-road-vehicles">
                            In service exhaust emission standards for road vehicles</a>
                            </li>
                    <li>
                        <a id="resources_3" href="https://www.gov.uk/topic/mot/manuals#special-notices">
                            Special notices</a>
                            </li>
            </ul>
            </div>
            <div class="footer-resources--one-third">
                <h2 class="footer-resources__header">MOT manuals and guide</h2>
                <ul>
                    <li>
                        <a id="manuals_0" href="#" target="_blank">
                                Manual for class 1 and 2 vehicles</a>
                        </li>
                            <li>
                            <a id="manuals_1" href="#" target="_blank">
                                Manual for class 3, 4, 5, and 7 vehicles</a>
                        </li>
                            <li>
                            <a id="manuals_2" href="https://www.gov.uk/government/publications/mot-testing-guide" target="_blank">
                                MOT testing guide </a>
                        </li>
                    </ul>
            </div>
            <hr>
        </div>

{% endblock %}
