{% extends "layout.html" %}

{% block page_title %}
  2FA - GOV.UK prototype
{% endblock %}

{% block service_name %}
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Bob Thomas Arctor (AEDM)</a>
      <ul id="proposition-links">
        <li><a href="url-to-page-1">Home</a></li>
        <li><a href="url-to-page-2">Your profile</a></li>
        <li><a href="url-to-page-2">Sign out</a></li>
      </ul>
    </nav>
{% endblock %}


{% block content %}

<link href="https://ci.test.mot-testing.service.gov.uk/assets/stylesheets/dvsa.css" media="screen" rel="stylesheet" />

<style type="text/css">
.c-mailbox-status a {
    text-decoration: none;
}
</style>

<div class="phase-banner" style="margin: 0 auto; width: 960px;">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
</div>


        <main id="content">

    <div class="container">


        <!-- Breadcrumbs -->
                    <div id="global-breadcrumb" class="header-context">
    <nav>
        <ol class="group">
            <li id="breadcrumb-0"><a href="/">Home</a></li>

                            <li id="breadcrumb-1">
                                            Search site information                                    </li>
                    </ol>
    </nav>
</div>
                <!-- END -->


                <!-- Titles -->
                    <header class="content-header">
    <h6 style="margin-bottom:15px;" class="heading-medium">
        <span class="content-header__title">Is this the VTS you are in?</span>
            </h6>
            <p style="margin-bottom:10px; font-weight: bold;">VTS001084</p>
            <p style="margin-bottom:10px;">Nessie MOT Centre</p>
            <p style="margin-bottom:10px;">2118, Tabletop Rise, Dunbar</p>
            <p style="margin-bottom:10px;">East Lothian, DN10 2HW</p>
       <!--      <img src="map.png" width="100px" height="100px"/> -->
    </header>                <!-- END -->

                                    <a href="site-informationcopy.html">Change vehicle testing station</a>
                                <nav class="content-navigation">

<!-- <a href="site-details.html"><input type="submit" id="submitSiteSearch" name="" value="Search" class="button"></a> -->
<a href="site-details.html">
    <input type="button" id="submitSiteSearch" name="" value="Yes, I am here" class="button"></a>
    <ul class="content-navigation__secondary">
        <li><a id="navigation-link-" href="/">Back</a></li>
    </ul></nav>

                    <div class="row contents">
                <div class="col-lg-12">
                    <!-- lede   -->
                                        <!-- end    -->



<form id="siteSearchForm" method="GET" action="/vehicle-testing-station/result">
    <fieldset>
        <legend class="form-title heading-large" id="searchSiteLegend">
    </legend>





    </div>
    <!-- /container -->
</main>




<footer class="group js-footer" id="footer">
    <div class="footer-wrapper">

        <div class="footer-categories">
            <div class="footer-resources--two-thirds">
                <h2 class="footer-resources__header">Resources on GOV.UK</h2>
                <ul>
                    <li>
                        <a id="resources_0" href="https://www.gov.uk/government/publications/motorcycle-mot-inspection-checklist-vt-29m">
                            Motorcycle inspection checklist for class 1 and 2 (VT29M)</a>
                            </li>
                    <li>
                        <a id="resources_1" href="https://www.gov.uk/government/publications/mot-inspection-checklist-vt-29">
                            Vehicle inspection checklist for class 3, 4, 5 and 7 (VT29)</a>
                            </li>
                    <li>
                        <a id="resources_2" href="https://www.gov.uk/government/publications/in-service-exhaust-emission-standards-for-road-vehicles">
                            In service exhaust emission standards for road vehicles</a>
                            </li>
                    <li>
                        <a id="resources_3" href="https://www.gov.uk/topic/mot/manuals#special-notices">
                            Special notices</a>
                            </li>
            </ul>
            </div>
            <div class="footer-resources--one-third">
                <h2 class="footer-resources__header">MOT manuals and guide</h2>
                <ul>
                    <li>
                        <a id="manuals_0" href="#" target="_blank">
                                Manual for class 1 and 2 vehicles</a>
                        </li>
                            <li>
                            <a id="manuals_1" href="#" target="_blank">
                                Manual for class 3, 4, 5, and 7 vehicles</a>
                        </li>
                            <li>
                            <a id="manuals_2" href="https://www.gov.uk/government/publications/mot-testing-guide" target="_blank">
                                MOT testing guide </a>
                        </li>
                    </ul>
            </div>
            <hr>
        </div>

{% endblock %}
