<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% extends "layout.html" %} {% block page_title %} 2FA - GOV.UK prototype {% endblock %} {% block service_name %}
    <nav id="proposition-menu">
        <a href="/" id="proposition-name">Bob Thomas Arctor (AEDM)</a>
        <ul id="proposition-links">
            <li>
                <a href="url-to-page-1">Home</a>
            </li>
            <li>
                <a href="url-to-page-2">Your profile</a>
            </li>
            <li>
                <a href="url-to-page-2">Sign out</a>
            </li>
        </ul>
    </nav>{% endblock %} {% block content %}
    <link href="https://ci.test.mot-testing.service.gov.uk/assets/stylesheets/dvsa.css" media="screen" rel="stylesheet">
    <style type="text/css">
    .c-mailbox-status a {
       text-decoration: none;
    }
    </style>
    <div class="phase-banner" style="margin: 0 auto; width: 960px;">
        <p><strong class="phase-tag">BETA</strong> <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <main id="content">
        <div class="container">
            <div class="header-context" id="global-breadcrumb">
                <nav>
                    <ol class="group">
                        <li id="breadcrumb-0">
                            <a href="/">Home</a>
                        </li>
                        <li id="breadcrumb-1">
                            <a href="/authorised-examiner/798">CHERRY BUSSA</a>
                        </li>
                        <li id="breadcrumb-2">Example Site</li>
                    </ol>
                </nav>
            </div>

            <div class="grid-row">
                <div class="column-two-thirds">
                    <header class="content-header">
                        <h1><span class="content-header__type">Vehicle Testing Station</span> <span class="content-header__title">Nessie MOT Center <span></span></span></h1>
                        <h2><span class="content-header__title"><span class="content-header__tertiary">118, Tabletop Rise, Dunbar, East Lothian, Scotland, East Lothian, DN10 2HW</span></span></h2>
                    </header>
                    <div class="row contents">
                        <div class="col-lg-12">
                            <h3 class="summary-heading">Site details</h3>
                            <table class="table-summary">
                                <tbody>
                                    <tr>
                                        <th class="table-summary__key">Name</th>
                                        <td class="table-summary__value">
                                            <span id="site-name">Nessie MOT Center</span> <a class="table-summary__action" href="/vehicle-testing-station/1084/name/change" id="site-name-change" title="Change Name">Change <span class="visuallyhidden">Name</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-summary__key">VTS ID</th>
                                        <td class="table-summary__value"><span id="site-number">VTS001084</span></td>
                                    </tr>
                                    <tr>
                                        <th class="table-summary__key">Classes</th>
                                        <td class="table-summary__value">
                                            <span id="site-classes">4,5,7</span> <a class="table-summary__action" href="/vehicle-testing-station/1084/classes/change" id="site-classes-change" title="Change Classes">Change <span class="visuallyhidden">Classes</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-summary__key">Type</th>
                                        <td class="table-summary__value">
                                            <span id="site-type">Vehicle Testing Station</span> <a class="table-summary__action" href="/vehicle-testing-station/1084/type/change" id="site-type-change" title="Change Type">Change <span class="visuallyhidden">Type</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-summary__key">Authorised Examiner</th>
                                        <td class="table-summary__value"><span id="authorisedExaminer"><a href="/authorised-examiner/798" id="authorised-examiner-link">CHERRY BUSSA</a></span></td>
                                    </tr>
                                    <tr>
                                        <th class="table-summary__key">Status</th>
                                        <td class="table-summary__value">
                                            <span id="site-status">Lapsed</span> <a class="table-summary__action" href="/vehicle-testing-station/1084/status/change" id="site-status-change" title="Change Status">Change <span class="visuallyhidden">Status</span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="summary-heading">Contact details</h3>
                            <table class="table-summary">
                                <tbody>
                                    <tr>
                                        <th class="table-summary__key">Address</th>
                                        <td class="table-summary__value">
                                            <span id="site-address">118, Tabletop Rise,<br>
                                            Dunbar,<br>
                                            East Lothian,<br>
                                            Scotland,<br>
                                            East Lothian,<br>
                                            DN10 2HW</span> <a class="table-summary__action" href="/vehicle-testing-station/1084/address/change" id="site-address-change" title="Change Address">Change <span class="visuallyhidden">Address</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-summary__key">Country</th>
                                        <td class="table-summary__value">
                                            <span id="site-country">Scotland</span> <a class="table-summary__action" href="/vehicle-testing-station/1084/country/change" id="site-country-change" title="Change Country">Change <span class="visuallyhidden">Country</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-summary__key">Email</th>
                                        <td class="table-summary__value">
                                            <span id="email">success+silva.rybij.58606@simulator.amazonses.com</span> <a class="table-summary__action" href="/vehicle-testing-station/1084/email/change" id="email-change" title="Change Email">Change <span class="visuallyhidden">Email</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-summary__key">Telephone</th>
                                        <td class="table-summary__value">
                                            <span id="phone-number">02170580000</span> <a class="table-summary__action" href="/vehicle-testing-station/1084/phone/change" id="phone-number-change" title="Change Telephone">Change <span class="visuallyhidden">Telephone</span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="summary-heading">Roles <span class="summary-heading__action"><a href="/vehicle-testing-station/1084/search-for-person" id="assign-a-role">Assign a role</a></span></h3>
                            <table class="table-summary">
                                <tbody>
                                    <tr id="role-assignment-510550-SITE-MANAGER">
                                        <th class="table-summary__key">
                                            <a href="/vehicle-testing-station/1084/user/510550">Jacqueline Terese Kalima(KALI1927)</a>
                                        </th>
                                        <td class="table-summary__value">
                                            Site manager <a class="table-summary__action" href="/vehicle-testing-station/1084/remove-role/42506">Remove</a> <span class="visuallyhidden">Jacqueline Terese Kalima</span>
                                        </td>
                                    </tr>
                                    <tr id="role-assignment-510550-SITE-ADMIN">
                                        <th class="table-summary__key">
                                            <a href="/vehicle-testing-station/1084/user/510550">Jacqueline Terese Kalima(KALI1927)</a>
                                        </th>
                                        <td class="table-summary__value">
                                            Site admin <a class="table-summary__action" href="/vehicle-testing-station/1084/remove-role/42508">Remove</a> <span class="visuallyhidden">Jacqueline Terese Kalima</span>
                                        </td>
                                    </tr>
                                    <tr id="role-assignment-510550-TESTER">
                                        <th class="table-summary__key">
                                            <a href="/vehicle-testing-station/1084/user/510550">Jacqueline Terese Kalima(KALI1927)</a>
                                        </th>
                                        <td class="table-summary__value">
                                            Tester <a class="table-summary__action" href="/vehicle-testing-station/1084/remove-role/42510">Remove</a> <span class="visuallyhidden">Jacqueline Terese Kalima</span>
                                        </td>
                                    </tr>
                                    <tr id="role-assignment-783824-TESTER">
                                        <th class="table-summary__key">
                                            <a href="/vehicle-testing-station/1084/user/783824">Quincy Earnest Gyllenband(GYLL5930)</a>
                                        </th>
                                        <td class="table-summary__value">
                                            Tester <a class="table-summary__action" href="/vehicle-testing-station/1084/remove-role/226524">Remove</a> <span class="visuallyhidden">Quincy Earnest Gyllenband</span>
                                        </td>
                                    </tr>
                                    <tr id="role-assignment-857646-TESTER">
                                        <th class="table-summary__key">
                                            <a href="/vehicle-testing-station/1084/user/857646">Nestor Dawn Humber(HUMB9941)</a>
                                        </th>
                                        <td class="table-summary__value">
                                            Tester <a class="table-summary__action" href="/vehicle-testing-station/1084/remove-role/297078">Remove</a> <span class="visuallyhidden">Nestor Dawn Humber</span>
                                        </td>
                                    </tr>
                                    <tr id="role-assignment-851722-TESTER">
                                        <th class="table-summary__key">
                                            <a href="/vehicle-testing-station/1084/user/851722">Kizzy Alessandra Lemarie(LEMA4017)</a>
                                        </th>
                                        <td class="table-summary__value">
                                            Tester <a class="table-summary__action" href="/vehicle-testing-station/1084/remove-role/873593">Remove</a> <span class="visuallyhidden">Kizzy Alessandra Lemarie</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="summary-heading">Site review</h3>
                            <table class="table-summary">
                                <tbody>
                                    <tr>
                                        <th class="table-summary__key">Current</th>
                                        <td class="table-summary__value"><span class="badge--success">Satisfactory</span> <span class="text-secondary text-secondary--spaced-8"></span> <span class="text-secondary">Date: 1 March 2016</span></td>
                                    </tr>
                                    <tr>
                                        <th class="table-summary__key">Previous</th>
                                        <td class="table-summary__value"><span class="badge--success">Satisfactory</span> <span class="text-secondary text-secondary--spaced-8"></span> <span class="text-secondary">Date: 14 March 2012</span></td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="summary-heading">Active MOT tests</h3>
                            <table class="table-summary">
                                <tbody>
                                    <tr id="site-active-mot-test-link-228279408387">
                                        <th class="table-summary__key">Jacqueline Terese Kalima</th>
                                        <td class="table-summary__value">
                                            <a href="/mot-test/228279408387/short-summary">AY54XQQ</a><br>
                                            <span class="table-summary__meta">VOLKSWAGEN, TOUAREG</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="summary-heading">Testing facilities <span class="summary-heading__action"><a href="/vehicle-testing-station/1084/testing-facilities" id="change-testing-facilities">Change testing facilities</a></span></h3>
                            <table class="table-summary">
                                <thead>
                                    <tr>
                                        <th class="" colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="table-summary__key">One Person Test Lane (OPTL)</th>
                                        <td class="table-summary__value testing-facility-optl" id="testing-facility-optl">1</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3 class="summary-heading">Default test settings <span class="summary-heading__action"><a href="/vehicle-testing-station/1084/configure-brake-test-defaults" id="configure-brake-test-defaults-link">Change default test settings</a></span></h3>
                            <div id="opening-hours">
                                <h3 class="summary-heading">Testing hours <span class="summary-heading__action"><a href="/vehicle-testing-station/1084/opening-hours/edit" id="change-testing-hours">Change testing hours</a></span></h3>
                                <table class="table-summary">
                                    <tbody>
                                        <tr>
                                            <th class="table-summary__key">Monday</th>
                                            <td class="table-summary__value--tabular" id="monday-hours">6:00am to 9:00pm</td>
                                        </tr>
                                        <tr>
                                            <th class="table-summary__key">Tuesday</th>
                                            <td class="table-summary__value--tabular" id="tuesday-hours">6:00am to 9:00pm</td>
                                        </tr>
                                        <tr>
                                            <th class="table-summary__key">Wednesday</th>
                                            <td class="table-summary__value--tabular" id="wednesday-hours">6:00am to 9:00pm</td>
                                        </tr>
                                        <tr>
                                            <th class="table-summary__key">Thursday</th>
                                            <td class="table-summary__value--tabular" id="thursday-hours">6:00am to 9:00pm</td>
                                        </tr>
                                        <tr>
                                            <th class="table-summary__key">Friday</th>
                                            <td class="table-summary__value--tabular" id="friday-hours">6:00am to 9:00pm</td>
                                        </tr>
                                        <tr>
                                            <th class="table-summary__key">Saturday</th>
                                            <td class="table-summary__value--tabular" id="saturday-hours">6:00am to 9:00pm</td>
                                        </tr>
                                        <tr>
                                            <th class="table-summary__key">Sunday</th>
                                            <td class="table-summary__value--tabular" id="sunday-hours">6:00am to 9:00pm</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-secondary" colspan="2">These times do not include bank holidays</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <nav class="content-navigation">
                                <ul class="content-navigation__secondary">
                                    <li>
                                        <a class="btn-link" href="/vehicle-testing-station/search" id="search-again">Return to search</a>
                                    </li>
                                    <li>
                                        <a href="/" id="return-to-home">Return home</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="column-third">
                    <div class="related">
                        <ul class="related__status">
                            <li><span class="badge">Lapsed</span> <strong>Status</strong></li>
                            <li id="risk-assessment-score"><span class="badge--success">Satisfactory</span> <strong>Site review</strong><br>
                            <span class="text-secondary" id="risk-assessment-date">Date: 1 Mar 2016</span></li>
                            <li><span class="badge--info">1</span> <strong>Active MOT tests</strong></li>
                        </ul>
                        <div class="related__section">
                            <h2 class="related__section-title">Related</h2>
                            <ul class="related__section-links">
                                <li>
                                    <a class="" href="/event/list/site/1084" id="event-history">Events history</a>
                                </li>
                                <li>
                                    <a class="" href="/vehicle-testing-station/1084/mot-test-log" id="test-logs">Test logs</a>
                                </li>
                                <li>
                                    <a class="" href="site-assessment.html" id="site-assessment-action-link">Site review</a>
                                </li>
                                <li>
                                    <a class="" href="/vehicle-testing-station/1084/test-quality" id="site-test-quality">Test quality information</a>
                                </li>
                                <li>
                                    <a class="" href="/vehicle-testing-station/1084/testers-annual-assessment?backTo=vts-tester-assessments" id="testers-annual-assessment">Testers annual assessment</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /container -->
    </main>


    <footer class="group js-footer" id="footer">
        <div class="footer-wrapper">
            <div class="footer-categories">
                <div class="footer-resources--two-thirds">
                    <h2 class="footer-resources__header">Resources on GOV.UK</h2>
                    <ul>
                        <li>
                            <a href="https://www.gov.uk/government/publications/motorcycle-mot-inspection-checklist-vt-29m" id="resources_0">Motorcycle inspection checklist for class 1 and 2 (VT29M)</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/government/publications/mot-inspection-checklist-vt-29" id="resources_1">Vehicle inspection checklist for class 3, 4, 5 and 7 (VT29)</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/government/publications/in-service-exhaust-emission-standards-for-road-vehicles" id="resources_2">In service exhaust emission standards for road vehicles</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/topic/mot/manuals#special-notices" id="resources_3">Special notices</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-resources--one-third">
                    <h2 class="footer-resources__header">MOT manuals and guide</h2>
                    <ul>
                        <li>
                            <a href="#" id="manuals_0" target="_blank">Manual for class 1 and 2 vehicles</a>
                        </li>
                        <li>
                            <a href="#" id="manuals_1" target="_blank">Manual for class 3, 4, 5, and 7 vehicles</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/government/publications/mot-testing-guide" id="manuals_2" target="_blank">MOT testing guide</a>
                        </li>
                    </ul>
                </div>

                <hr>
            </div>{% endblock %}
        </div>
    </footer>
</body>
</html>