<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
      {% extends "layout.html" %} {% block page_title %} 2FA - GOV.UK prototype {% endblock %} {% block service_name %}
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">Bob Thomas Arctor (AEDM)</a>
        <ul id="proposition-links">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Your profile</a>
          </li>
          <li>
            <a href="#">Sign out</a>
          </li>
        </ul>
      </nav>{% endblock %} {% block content %}
      <link href="https://ci.test.mot-testing.service.gov.uk/assets/stylesheets/dvsa.css" media="screen" rel="stylesheet">
      <style type="text/css">
      .c-mailbox-status a {
         text-decoration: none;
      }
      </style>
      <div class="phase-banner" style="margin: 0 auto; width: 960px;">
        <p><strong class="phase-tag">BETA</strong> <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
      </div>
      <main id="content">
        <div class="container">
          <div class="header-context" id="global-breadcrumb">
            <nav>
              <ol class="group">
                <li id="breadcrumb-0">
                  <a href="#">Home</a>
                </li>
                <li id="breadcrumb-1">
                  <a href="#">CHERRY BUSSA</a>
                </li>
                <li id="breadcrumb-2">
                  <a href="#">Example Site</a>
                </li>
                <li id="breadcrumb-3">Enter site review</li>
              </ol>
            </nav>
          </div>

          <header class="content-header">
            <h1><span class="content-header__type">Vehicle Testing Station</span> <span class="content-header__title">Enter site review</span></h1>
          </header>




        <div class="form-group" style="margin-bottom:10px;">
          <h4 class="heading-medium">People</h4>
          <details role="group">
            <summary aria-controls="details-content-0" aria-expanded="false" role="button">
              <span class="summary">Clues for people?</span>
            </summary>
            <div aria-hidden="true" class="panel panel-border-narrow" id="details-content-0">
              <p>The AE has a stable and well trained work force. New recruits are vetted and undergo an appropriate introductory regime and suprvision.</p>
              <p>All mandatory training requirements are managed and systems are in place to ensure standards in testing and customer service is maintained</p>
              <p>There are appropriate policies in place to encourage integrity in operation and support to MOT staff</p>
            </div>
          </details>
        </div>
<fieldset>
                <div class="multiple-choice" data-target="reinspection-blocked">
                <input id="r-radio-2" name="radio-inline-group1" type="radio" value="No" aria-controls="reinspection-blocked" aria-expanded="false"> <label for="r-radio-2">Satisfactory</label>
                </div>
                <div class="multiple-choice" data-target="VRM">
                <input id="r-radio-5" name="radio-inline-group1" type="radio" value="No" aria-controls="VRM" aria-expanded="false"> <label for="r-radio-5">Improve</label>
                </div>
                <div class="multiple-choice" data-target="VRM">
                    <input id="r-radio-1" name="radio-inline-group1" type="radio" value="Yes" aria-controls="VRM" aria-expanded="false"> <label for="r-radio-1">Unsatisfactory</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" style="margin-bottom: 30px;" id="VRM" aria-hidden="true">
             
            <label class="form-label" for="textarea">Advice given</label>
            <textarea class="form-control form-control-3-4" id="textarea" name="textarea" rows="5"></textarea>
             </div>
          </fieldset>


        <nav class="content-navigation">
           <a href="ComplianceChecks.html" class="button" id="submit" name="submit" type="submit" value="">Continue</a>
          <ul class="content-navigation__secondary">
            <li>
              <a class="btn btn-primary" href="#" id="returnDashboard">Cancel and return to site details</a>
            </li>
          </ul>
        </nav><!-- /container -->
      </main>

      <footer class="group js-footer" id="footer">
        <div class="footer-wrapper">
          <div class="footer-categories">
            <div class="footer-resources--two-thirds">
              <h2 class="footer-resources__header">Resources on GOV.UK</h2>
              <ul>
                <li>
                  <a href="https://www.gov.uk/government/publications/motorcycle-mot-inspection-checklist-vt-29m" id="resources_0">Motorcycle inspection checklist for class 1 and 2 (VT29M)</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/government/publications/mot-inspection-checklist-vt-29" id="resources_1">Vehicle inspection checklist for class 3, 4, 5 and 7 (VT29)</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/government/publications/in-service-exhaust-emission-standards-for-road-vehicles" id="resources_2">In service exhaust emission standards for road vehicles</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/topic/mot/manuals#special-notices" id="resources_3">Special notices</a>
                </li>
              </ul>
            </div>
            <div class="footer-resources--one-third">
              <h2 class="footer-resources__header">MOT manuals and guide</h2>
              <ul>
                <li>
                  <a href="#" id="manuals_0" target="_blank">Manual for class 1 and 2 vehicles</a>
                </li>
                <li>
                  <a href="#" id="manuals_1" target="_blank">Manual for class 3, 4, 5, and 7 vehicles</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/government/publications/mot-testing-guide" id="manuals_2" target="_blank">MOT testing guide</a>
                </li>
              </ul>
            </div>
            <hr>

          </div>{% endblock %}
        </div>
      </footer>
  </body>
</html>
