{% extends "layout.html" %}

{% block page_title %}
  Renault Clio - Check MOT history
{% endblock %}

{% block bar_heading %}
  Check MOT history
{% endblock %}

{% block content %}



<main id="content" role="main">


<a class="link-back" href="enter-reg">Back</a>

<!-- <div class="banner advice">

  <div class="grid-row">

    <div class="column-two-thirds">

  <h2 class="heading-medium">
  This vehicle has a safety recall
  </h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicin. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</div>
</div> -->



  <h1 class="heading-xlarge" style="margin-bottom: 15px;">
    <span class="heading-secondary">Vehicle</span>
    Renault Clio
  </h1>
  <p><a href="#">Check another vehicle</a></p>

<div class="grid-row">

    <div class="column-third">



      <h1 class="heading-large" style="margin-top: 0px;">
        <span class="heading-secondary">MOT valid until</span>
        9 February 2018
      </h1>

      <a href="/reminders/v1/index">Get a reminder email</a>
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large" style="margin-top: 0px;">
        <span class="heading-secondary">Registration</span>
        CE 10 CZR
      </h1>

      <br>

      <div class="grid-row">
        <div class="column-one-third">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.4em;">
            <span class="heading-secondary">Fuel type</span>
            Petrol
          </h1>
        </div>
        <div class="column-one-third">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.4em;">
            <span class="heading-secondary">Colour</span>
            Red
          </h1>
        </div>
        <div class="column-one-third">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.4em;">
            <span class="heading-secondary">Date registered</span>
            10 April 2010
          </h1>
        </div>

      </div>


    </div>
  </div>


<br>
<br>


<p>
  If you think the MOT expiry date or any of the vehicle details are wrong, <a href="">contact DVSA</a>
</p>

<h2 class="heading-large">Manufacturer’s safety recalls</h2>

<div class="grid-row">
  <div class="column-two-thirds">
  <p>Manufacturers recall vehicles with design or construction defects that could result in a serious injury.</p>
    <details>
      <summary><span class="summary">Check if this vehicle has a recall</span></summary>
      <div class="panel panel-border-narrow">

        <h3 class="heading-medium">Outstanding recalls found</h3>

        <p>As of <span class="bold">17 September 2017</span> there are many outstanding safety recalls on this vehicle.</p>
        <p>Contact a <span class="bold">Renault</span> dealership to arrange for repairs.</p>
        <p>If this information about outstanding safety recalls is incorrect, please contact a <span class="bold">Renault</span> dealership.</p>

      </div>
    </details>

  </div>
</div>
<!--<br>
<br>
<br>
<a class="button" href="">Check another vehicle</a>-->
<br>

<h2 class="heading-large">MOT history</h2>

  <!-- test start -->


  <div class="grid-row">

    <div class="column-third">
    <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Date tested</span>
            10 February 2017
          </h1>
      <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #00823B;">PASS</h1>



    </div>

    <div class="column-two-thirds">


      <div class="grid-row">
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Mileage</span>
            29,611
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em" style="font-size: 1.05em;">Expiry date</span>
            9 February 2018
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Test location</span>
            Halfords Autocentre<br>160 Bromley Rd<br>London<br>SE6 2NZ
          </h1>
        </div>

        <div class="column-one-half">


          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">MOT test number</span>
            3995 7555 7274
          </h1>
        </div>

      </div>


    </div>


  </div>

  <!-- test end -->

<hr>

   <!-- test start -->
  <div class="grid-row">

    <div class="column-third">
<h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Date tested</span>
            10 February 2017
          </h1>
      <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #B10E1E;">FAIL</h1>

    </div>

    <div class="column-two-thirds">


      <div class="grid-row">
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Mileage</span>
            29,611
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">MOT test number</span>
            5864 4990 1701
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Test location</span>
            Halfords Autocentre<br>160 Bromley Rd<br>London<br>SE6 2NZ
          </h1>
        </div>



      </div>

      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
        <span class="heading-secondary" style="font-size:1.05em">Reasons for failure:</span>


        <ul class="list list-bullet">
          <li>Nearside Track rod end ball joint has excessive play (2.2.B.1f)</li>
          <li>Nearside Rear Tyre has a cut in excess of the requirements deep enough to reach the ply or cords (4.1.D.1a)</li>
        </ul>
      </h1>

      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
        <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>


        <ul class="list list-bullet">
          <li>Offside Track rod end ball joint has slight play (2.2.B.1f)</li>
        </ul>
      </h1>

<div class="form-group">
  <details>
    <summary><span class="summary">What are these?</span></summary>
    <div class="panel panel-border-narrow">
      <p>Failure items must be fixed before the vehicle can pass its MOT.</p>
<p>
        Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>





      </p>
    </div>
  </details>
</div>
    </div>


  </div>

  <!-- test end -->

  <hr>

  <!-- test start -->
  <div class="grid-row">

    <div class="column-third">
      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Date tested</span>
            27 May 2016
          </h1>
      <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #00823B;">PASS</h1>

    </div>

    <div class="column-two-thirds">


      <div class="grid-row">
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Mileage</span>
            27,815
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Expiry date</span>
            27 May 2017
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Test location</span>
            Hopfields Auto Repairs<br>2-10 Raymouth Rd<br>London<br>SE16 2DB
          </h1>
        </div>

        <div class="column-one-half">



          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">MOT test number</span>
            3766 9868 0212
          </h1>
        </div>

      </div>



      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
        <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>


        <ul class="list list-bullet">
          <li>Offside Front Track rod end ball joint has slight play (2.2.B.1f)</li>
          <li>Rear spare wheel slight loose</li>
        </ul>
      </h1>

<div class="form-group">
  <details>
    <summary><span class="summary">What are these?</span></summary>
    <div class="panel panel-border-narrow">
      <p>Failure items must be fixed before the vehicle can pass its MOT.</p>
<p>
        Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>





      </p>
    </div>
  </details>
</div>
    </div>


  </div>

  <!-- test end -->



<hr>

 <!-- test start -->
  <div class="grid-row">

    <div class="column-third">
      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Date tested</span>
            25 May 2016
          </h1>
      <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #B10E1E;">FAIL</h1>

    </div>

    <div class="column-two-thirds">


      <div class="grid-row">
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Mileage</span>
            27,809
          </h1>
        </div>


        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">MOT test number</span>
            5286 7395 5109
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Test location</span>
            Hopfields Auto Repairs<br>2-10 Raymouth Rd<br>London<br>SE16 2DB
          </h1>
        </div>



      </div>

      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
        <span class="heading-secondary" style="font-size:1.05em">Reasons for failure:</span>


        <ul class="list list-bullet">
          <li>Nearside Rear Stop lamp not working (1.2.1b)</li>
<li>Nearside Front Track rod end ball joint has excessive play (2.2.B.1f)</li>
        </ul>
      </h1>

      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
        <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>


        <ul class="list list-bullet">
          <li>Offside Front Track rod end ball joint has slight play (2.2.B.1f)</li>
<li>Rear spare wheel slight loose</li>
        </ul>
      </h1>

<div class="form-group">
  <details>
    <summary><span class="summary">What are these?</span></summary>
    <div class="panel panel-border-narrow">
      <p>Failure items must be fixed before the vehicle can pass its MOT.</p>
<p>
        Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>





      </p>
    </div>
  </details>
</div>
    </div>


  </div>

  <!-- test end -->

  <hr>

  <!-- test start -->
  <div class="grid-row">

    <div class="column-third">
      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Date tested</span>
            12 May 2015
          </h1>
      <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #00823B;">PASS</h1>

    </div>

    <div class="column-two-thirds">


      <div class="grid-row">
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Mileage</span>
            21,394
          </h1>
        </div>
        <div class="column-one-half">



          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Expiry date</span>
            11 May 2016
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Test location</span>
            Caledonian Autos<br>21 Caledonian Rd<br>London<br>N7 0AB
          </h1>
        </div>

        <div class="column-one-half">



          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">MOT test number</span>
            6053 6283 5134
          </h1>
        </div>

      </div>



      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
        <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>


        <ul class="list list-bullet">
          <li>Nearside Track rod end ball joint has slight play (2.2.B.1f)</li>
        </ul>
      </h1>

<div class="form-group">
  <details>
    <summary><span class="summary">What are these?</span></summary>
    <div class="panel panel-border-narrow">
      <p>Failure items must be fixed before the vehicle can pass its MOT.</p>
<p>
        Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>





      </p>
    </div>
  </details>
</div>
    </div>


  </div>

  <!-- test end -->

<hr>

<!-- test start -->
  <div class="grid-row">

    <div class="column-third">
      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Date tested</span>
            26 March 2014
          </h1>
      <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #00823B;">PASS</h1>

    </div>

    <div class="column-two-thirds">


      <div class="grid-row">
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Mileage</span>
            18,319
          </h1>
        </div>
        <div class="column-one-half">



          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Expiry date</span>
            10 April 2015
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Test location</span>
            Kwik Fit<br>136-142 New Kent Rd<br> London<br>SE1 6TU
          </h1>
        </div>

        <div class="column-one-half">



          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">MOT test number</span>
            1050 7518 4032
          </h1>
        </div>

      </div>


    </div>


  </div>

  <!-- test end -->

  <hr>

<!-- test start -->
  <div class="grid-row">

    <div class="column-third">
      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Date tested</span>
            9 April 2013
          </h1>
      <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #00823B;">PASS</h1>

    </div>

    <div class="column-two-thirds">


      <div class="grid-row">
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Mileage</span>
            11,723
          </h1>
        </div>
        <div class="column-one-half">


          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Expiry date</span>
            10 April 2014
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Test location</span>
            Kwik Fit<br>387 Bethnal Green Rd<br>London<br> E2 0AN
          </h1>
        </div>

        <div class="column-one-half">



          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">MOT test number</span>
            1479 2969 3048
          </h1>
        </div>

      </div>



      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
        <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>


        <ul class="list list-bullet">
          <li>Parking brake lever has little reserve travel (3.1.6b)</li>
<li>Items removed from driver's view prior to test</li>
        </ul>
      </h1>

<div class="form-group">
  <details>
    <summary><span class="summary">What are these?</span></summary>
    <div class="panel panel-border-narrow">
      <p>Failure items must be fixed before the vehicle can pass its MOT.</p>
<p>
        Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>





      </p>
    </div>
  </details>
</div>
    </div>


  </div>

  <!-- test end -->

  <hr>
  <p><a href="#">Check another vehicle</a></p>


</main>

{% endblock %}
