{% extends "layout.html" %}

{% block page_title %}
  Check MOT history
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


     <form action="result-1" method="post" class="form">
<a class="link-back" href="index">Back</a>
    <h1 class="form-title heading-large">
      Enter the registration number of the vehicle
    </h1>


    <!-- Full name -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Registration number (number plate)</label>
<span class="form-hint">For example, CU57ABC</span>
      <input type="text" class="form-control" id="full-name" style="text-transform: uppercase;">
    </div>

    

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>


    </form>

     
      

   

    </div>
  </div>
</main>

{% endblock %}


