{% extends "layout.html" %}

{% block bar_heading %}
  MOT testing service
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div id="phase_banner_beta">  
            {% include "includes/phase_banner_beta.html" %}
    </div>
    
  
    <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-xlarge">
            <span class="heading-secondary">Your profile</span>
            Reset you account security
          </h1>
            
        <p class="lede">Your security questions no longer meet the new security policy. In order to keep your account safe, you need to update your secuirty questions.</p>
        <p>You will now be asked to choose new security questions.</p>
        <p>You won't be prompted to chnage these again, but you can change your account security at any time from your profile.</p>
         
        <div style="margin-top: 30px;"><p><a class="button" href="first-security-question">Continue</a></p></div>
            
         <a href="enter-pin">Cancel and return to sign in to your secuirty card PIN</a>

    </div>
  </div>
</main>

{% endblock %}