{% extends "layout.html" %}

{% block page_title %}
  2FA - GOV.UK prototype
{% endblock %}

{% block service_name %}
    <nav id="proposition-menu">
        <a href="/" id="proposition-name">Bob Thomas Arctor (AEDM)</a>
        <ul id="proposition-links">
            <li><a href="url-to-page-1">Home</a></li>
            <li><a href="url-to-page-2">Your profile</a></li>
            <li><a href="url-to-page-2">Sign out</a></li>
        </ul>
    </nav>
{% endblock %}


{% block content %}

<main id="content" role="main">
    <div class="column-two-thirds">

        <div class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/">Users</a></li>
            <li><a href="/">User profile</a></li>
            <li>Security</li>
          </ol>
        </div>

        <form action="extend-grace-period-success" method="post" class="form">
         
            <div class="govuk-box-highlight">
                <h1 class="bold-large">
                    Grace period has been extended
                </h1>

                <p>
                    Bertie Lorenzo Gribben will be able to log in without security card until 18&nbsp;March&nbsp;2018.
                </p>
            </div>

            <a href="/2FA/CSCO/">Return to home page</a>
        </form>
   </div>   
</main>

{% endblock %}