{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
         MOT Prototypes
        
      </h1>
     

     
      <p><span  class="heading-small">Check MOT history</span></p>

      <a href="history/">Prototype</a>
      
      <hr>

  
<p><span  class="heading-small">Garage quality reports</span></p>

      <a href="gqr/">Prototype</a>
      
      <hr>
      
<p><span  class="heading-small">Get MOT reminder</span></p>

      <a href="reminders/">Prototype</a>
      
      <hr>
      
<p><span  class="heading-small">Report MOT fraud</span></p>

      <a href="fraud/">Prototype</a>
        
        <hr>
        
<p><span  class="heading-small">2FA Alternative</span></p>

      <a href="2FA/">Prototype</a>

<hr>
        
<p><span  class="heading-small">Site review</span></p>

      <a href="site-assessment/index.html">Prototype</a>        


   

    </div>
  </div>
</main>

{% endblock %}


