cd{% extends "layout.html" %}

{% block page_title %}
  Renault Clio - Check MOT history
{% endblock %}

{% block bar_heading %}
  Check MOT history
{% endblock %}

{% block content %}



<main id="content" role="main">


<a class="link-back" href="enter-reg">Back</a>


  <h1 class="heading-xlarge" style="margin-bottom: 20px;">
    <span class="heading-secondary">Vehicle</span>
    Renault Clio
  </h1>


<div class="banner expired"  style="margin-top: 20px;">
  
  <h2 class="heading-medium">
  This vehicle has been scrapped
  </h2>
  <p>It's illegal to drive this vehicle</p>

</div>


<div class="grid-row">

    <div class="column-third">



<h1 class="heading-large" style="margin-top: 0px;">
        <span class="heading-secondary">MOT valid until</span>
        10 September 2017
      </h1>
      <!--<a href="/reminders/v1/index">Get a reminder email</a>-->
    </div>

    <div class="column-two-thirds">

      <h1 class="heading-large" style="margin-top: 0px;">
        <span class="heading-secondary">Registration</span>
        CE 10 CZR
      </h1>

      <br>

      <div class="grid-row">
        <div class="column-one-third">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.4em;">
            <span class="heading-secondary">Fuel type</span>
            Petrol
          </h1>
        </div>
        <div class="column-one-third">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.4em;">
            <span class="heading-secondary">Colour</span>
            Red
          </h1>
        </div>
        <div class="column-one-third">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.4em;">
            <span class="heading-secondary">Date registered</span>
            10 July 2014
          </h1>
        </div>

      </div>

    </div>
  </div>


<br>
<br>
<a class="button" href="enter-reg">Check another vehicle</a>

<br>
<br>
<div class="form-group">
  <details>
    <summary><span class="summary">Incorrect details?</span></summary>
    <div class="panel panel-border-narrow">
      <p>
        If you think the MOT expiry date or any of the vehicle details are wrong, <a href="">contact DVSA</a>

      </p>
    </div>
  </details>
</div>
<br>
   



 <!-- <h1 class="heading-large" style="margin-top: 0px;">
        <span class="heading-secondary">MOT valid until</span>
        9 February 2018
      </h1> -->

      
<h2 class="heading-large">MOT history</h2>



  <!-- test start -->


  <div class="grid-row">

    <div class="column-third">
    <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Date tested</span>
            10 July 2016
          </h1>
      <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #00823B;">PASS</h1>

      

    </div>

    <div class="column-two-thirds">


      <div class="grid-row">
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Mileage</span>
            29,611
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em" style="font-size: 1.05em;">Expiry date</span>
            10 July 2017
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Test location</span>
            Halfords Autocentre<br>160 Bromley Rd<br>London<br>SE6 2NZ
          </h1>
        </div>

        <div class="column-one-half">

        
          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">MOT test number</span>
            3995 7555 7274
          </h1>
        </div>

      </div>

      
    </div>


  </div>

  <!-- test end -->

<hr>

   <!-- test start -->
  <div class="grid-row">

    <div class="column-third">
<h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Date tested</span>
            10 July 2016
          </h1> 
      <h1 class="heading-large" style="margin-top: 0px; font-size: 3.5em; color: #B10E1E;">FAIL</h1>

    </div>

    <div class="column-two-thirds">


      <div class="grid-row">
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Mileage</span>
            29,611
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">MOT test number</span>
            5864 4990 1701
          </h1>
        </div>
        <div class="column-one-half">

          <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
            <span class="heading-secondary" style="font-size:1.05em">Test location</span>
            Halfords Autocentre<br>160 Bromley Rd<br>London<br>SE6 2NZ
          </h1>
        </div>

        

      </div>

      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
        <span class="heading-secondary" style="font-size:1.05em">Reasons for failure:</span>


        <ul class="list list-bullet">
          <li>Nearside Track rod end ball joint has excessive play (2.2.B.1f)</li>
          <li>Nearside Rear Tyre has a cut in excess of the requirements deep enough to reach the ply or cords (4.1.D.1a)</li>
        </ul>
      </h1>

      <h1 class="heading-large" style="margin-top: 0px; font-size: 1.05em; font-weight: bold;">
        <span class="heading-secondary" style="font-size:1.05em">Advisory notice:</span>


        <ul class="list list-bullet">
          <li>Offside Track rod end ball joint has slight play (2.2.B.1f)</li>
        </ul>
      </h1>

<div class="form-group">
  <details>
    <summary><span class="summary">What are these?</span></summary>
    <div class="panel panel-border-narrow">
      <p>Failure items must be fixed before the vehicle can pass its MOT.</p>
<p>
        Advisory notices are minor problems with the vehicle. If they become more serious they could cause the vehicle to fail its next MOT test.</p>



 

      </p>
    </div>
  </details>
</div>
    </div>


  </div>

  <!-- test end -->

  <hr>

  

  


</main>

{% endblock %}


